<div class="modal-header">
    <h6 class="modal-title pull-left">
        <b>{{ title }}</b>
    </h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <dx-date-box [style.width.px]="200" type="datetime" [(value)]="firstDayTime"></dx-date-box>
            <dx-date-box [style.width.px]="200" [style.margin-left.px]="5" type="datetime" [(value)]="currDayTime"></dx-date-box>

            <button [style.margin-left.px]="5" class="btn btn-sm btn-success" (click)="onLoadData()">Tải lại</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <dx-data-grid
                id="gridContainer"
                [showBorders]="true"
                [showRowLines]="true"
                [hoverStateEnabled]="true"
                [stateStoring]="stateStoringGrid"
                [columnAutoWidth]="true"
                [columnResizingMode]="'widget'"
                [allowColumnResizing]="true"
                [allowColumnReordering]="true"
                (onRowDblClick)="onRowDblClick($event)"
            >
                <dxi-column caption="STT" cellTemplate="cellTemplateSTT" alignment="center">
                    <div *dxTemplate="let data of 'cellTemplateSTT'">
                        {{ rowNumber(data.rowIndex) }}
                    </div>
                </dxi-column>
                <dxi-column dataField="ngaydathang" dataType="datetime" caption="Ngày đặt hàng"></dxi-column>
                <dxi-column dataField="maphieudathang" caption="Mã phiếu"></dxi-column>
                <dxi-column dataField="khachhang_hoten" caption="Tên khách hàng"></dxi-column>
                <dxi-column dataField="tongthanhtien" caption="Tiền hàng" format="#,##0"></dxi-column>
                <dxi-column dataField="thuevat" caption="Thuế VAT" format="#0.##%"></dxi-column>
                <dxi-column dataField="chietkhau" caption="Chiết khấu" format="#0.##%"></dxi-column>
                <dxi-column dataField="tongthanhtien" caption="Tổng tiền" format="#,##0"></dxi-column>
                <dxi-column dataField="makhachhang" caption="Mã khách hàng"></dxi-column>

                <dxi-column dataField="trangthaigiao" caption="Trạng thái giao" cellTemplate="cellTemplateTrangThaiGiao">
                    <div *dxTemplate="let data of 'cellTemplateTrangThaiGiao'">
                        <span *ngIf="data.value == null">Chưa xuất</span>
                        <span *ngIf="data.value != null">{{ data.value }}</span>
                    </div>
                </dxi-column>

                <dxi-column dataField="kichhoat" caption="Trạng thái" cellTemplate="cellTemplateTrangThai">
                    <div *dxTemplate="let data of 'cellTemplateTrangThai'">
                        <span class="text-green" *ngIf="data.value == true">Kích hoạt</span>
                        <span class="text-red" *ngIf="data.value != true">Ngưng sử dụng</span>
                    </div>
                </dxi-column>
                <dxi-column dataField="ghichu" caption="Ghi chú"></dxi-column>

                <dxo-search-panel [visible]="true" [width]="300"></dxo-search-panel>
                <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                <dxo-column-chooser [enabled]="true" [allowSearch]="true"></dxo-column-chooser>
                <dxo-scrolling columnRenderingMode="virtual" [useNative]="true" class="dx-scrollable-customizable-scrollbars"></dxo-scrolling>
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-pager [showInfo]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 15, 20]" [showNavigationButtons]="true"> </dxo-pager>
            </dx-data-grid>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="onCancel()">{{ closeBtnName }}</button>
</div>
