<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Phiếu điều chỉnh kho</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'Phiếu điều chỉnh kho' | uppercase }} - DANH SÁCH</h5>
                        <p class="card-text"></p>

                        <div class="row">
                            <div class="col-md-12">
                                <dx-date-box [style.width.px]="200" type="date" [(value)]="firstDayTime"></dx-date-box>
                                <dx-date-box [style.width.px]="200" [style.margin-left.px]="5" type="date" [(value)]="currDayTime"></dx-date-box>

                                <button [style.margin-left.px]="5" class="btn btn-sm btn-success" (click)="onLoadData()">Tải lại</button>
                                <button [style.margin-left.px]="5" class="btn btn-sm btn-primary" [routerLink]="['/phieu-dieu-chinh-kho/them-moi']" *ngIf="enableAddNew">Thêm mới</button>
                            </div>
                        </div>

                        <dx-data-grid
                            id="gridContainer"
                            [showBorders]="true"
                            [showRowLines]="true"
                            [hoverStateEnabled]="true"
                            [columnAutoWidth]="true"
                            [columnResizingMode]="'widget'"
                            [allowColumnResizing]="true"
                            [allowColumnReordering]="true"
                            [stateStoring]="stateStoringGrid"
                            (onRowDblClick)="onRowDblClick($event)"
                            (onContextMenuPreparing)="addMenuItems($event)"
                        >
                            <dxo-selection mode="single"></dxo-selection>
                            <dxo-export [enabled]="enableExport" [fileName]="exportFileName"></dxo-export>
                            <!-- dx-data-grid column -->
                            <dxi-column caption="STT" cellTemplate="cellTemplateSTT" alignment="center">
                                <div *dxTemplate="let data of 'cellTemplateSTT'">
                                    {{ rowNumber(data.rowIndex) }}
                                </div>
                            </dxi-column>
                            <dxi-column width="80" dataField="id" caption="Thao tác" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
                                <div *dxTemplate="let data of 'cellTemplate'">
                                    <a [routerLink]="['/phieu-dieu-chinh-kho/' + data.value + '/cap-nhat']" *ngIf="enableUpdate">Sửa</a> |
                                    <a href="javascript:void(0)" (click)="onRowDelete(data.value)" *ngIf="enableDelete">Xóa</a>
                                </div>
                            </dxi-column>

                            <dxi-column dataField="ngaydieuchinhkho" dataType="date" caption="Ngày điều chỉnh kho"></dxi-column>
                            <dxi-column dataField="maphieudieuchinhkho" caption="Mã phiếu"></dxi-column>
                            <dxi-column dataField="tenkhodieuchinh" caption="Kho điều chỉnh"></dxi-column>

                            <!-- <dxi-column dataField="kichhoat" caption="Trạng thái" cellTemplate="cellTemplateTrangThai">
                                <div *dxTemplate="let data of 'cellTemplateTrangThai'">
                                    <span class="text-green" *ngIf="data.value == true">Kích hoạt</span>
                                    <span class="text-red" *ngIf="data.value != true">Ngưng sử dụng</span>
                                </div>
                            </dxi-column> -->
                            <dxi-column dataField="ghichu" caption="Ghi chú"></dxi-column>

                            <dxi-column dataField="nguoitao_hoten" caption="Người tạo"></dxi-column>
                            <dxi-column dataField="thoigiantao" dataType="datetime" caption="Ngày tạo"></dxi-column>
                            <dxi-column dataField="nguoisua_hoten" caption="Người sửa"></dxi-column>
                            <dxi-column dataField="thoigiansua" dataType="datetime" caption="Ngày sửa"></dxi-column>

                            <dxo-summary>
                                <dxi-total-item column="maphieudieuchinhkho" summaryType="count" displayFormat="TỔNG CỘNG: {0}"> </dxi-total-item>
                            </dxo-summary>

                            <!-- dx-data-grid option -->
                            <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                            <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>

                            <dxo-search-panel [visible]="true" [width]="300"></dxo-search-panel>
                            <dxo-column-chooser [enabled]="true" [allowSearch]="true"></dxo-column-chooser>
                            <dxo-scrolling columnRenderingMode="virtual" [useNative]="true" class="dx-scrollable-customizable-scrollbars"></dxo-scrolling>
                            <dxo-paging [pageSize]="10"></dxo-paging>
                            <dxo-pager [showInfo]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 15, 20]" [showNavigationButtons]="true">
                            </dxo-pager>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
