<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Thống kê mua hàng</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'Thống kê ' | uppercase }} - CHI TIẾT MUA HÀNG</h5>
                        <p class="card-text"></p>

                        <div class="row">
                            <div class="col-md-12">
                                <dx-date-box [style.width.px]="200" type="datetime" [(value)]="firstDayTime"></dx-date-box>
                                <dx-date-box [style.width.px]="200" [style.margin-left.px]="5" type="datetime" [(value)]="currDayTime"></dx-date-box>

                                <button [style.margin-left.px]="5" class="btn btn-sm btn-success" (click)="onLoadData()">Tải lại</button>
                            </div>
                        </div>

                        <dx-data-grid
                            id="gridContainer"
                            [showBorders]="true"
                            [showRowLines]="true"
                            [hoverStateEnabled]="true"
                            [columnAutoWidth]="true"
                            [columnResizingMode]="'widget'"
                            [allowColumnResizing]="true"
                            [allowColumnReordering]="true"
                            [stateStoring]="stateStoringGrid"
                        >
                            <dxo-search-panel [visible]="true" [width]="300"></dxo-search-panel>
                            <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                            <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                            <dxo-column-chooser [enabled]="true" [allowSearch]="true"></dxo-column-chooser>
                            <dxo-scrolling columnRenderingMode="virtual" [useNative]="true" class="dx-scrollable-customizable-scrollbars"></dxo-scrolling>
                            <dxo-paging [pageSize]="10"></dxo-paging>
                            <dxo-pager [showInfo]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20]" [showNavigationButtons]="true"></dxo-pager>

                            <dxi-column caption="STT" cellTemplate="cellTemplateSTT">
                                <div *dxTemplate="let data of 'cellTemplateSTT'">
                                    {{ rowNumber(data.rowIndex) }}
                                </div>
                            </dxi-column>
                            <!-- <dxi-column dataField="chinhanh" caption="Chi nhánh"></dxi-column> -->
                            <dxi-column dataField="manhacungcap" caption="Mã nhà cung cấp"></dxi-column>
                            <dxi-column dataField="tennhacungcap" caption="Tên nhà cung cấp"></dxi-column>
                            <dxi-column dataField="ngaymuahang" caption="Ngày mua hàng" dataType="date"></dxi-column>
                            <dxi-column dataField="maphieu" caption="Mã phiếu mua"></dxi-column>
                            <dxi-column dataField="chitietnhap" caption="Nhập kho"></dxi-column>
                            <dxi-column dataField="trangthainhap" caption="Trạng thái nhập"></dxi-column>

                            <dxi-column dataField="mahanghoa" caption="Mã hàng hoá"></dxi-column>
                            <dxi-column dataField="tenhanghoa" caption="Tên hàng hoá"></dxi-column>
                            <dxi-column dataField="tendonvitinh" caption="Đvt"></dxi-column>
                            
                            <dxi-column dataField="m3" caption="M³" format="#,##0.#######"></dxi-column>
                            <dxi-column dataField="soluongm3" caption="SL M³" format="#,##0.#######"></dxi-column>
                            <dxi-column dataField="soluongkien" caption="SL Kiện" format="#,##0.#######"></dxi-column>
                            <dxi-column dataField="quydoi1" caption="SL Quy đổi" format="#,##0.#######"></dxi-column>

                            <dxi-column dataField="soluong" caption="SL" format="#,##0.#######"></dxi-column>
                            <dxi-column dataField="soluongdanhap" caption="SL Đã nhập" format="#,##0.#######"></dxi-column>
                            <dxi-column dataField="soluongchuanhap" caption="SL Còn lại" format="#,##0.#######"></dxi-column>
                            
                            <!-- <dxi-column dataField="dongia" caption="" format="#,##0.#######"></dxi-column> -->
                            <dxi-column dataField="dongiavat" caption="Đơn giá" format="#,##0.#######"></dxi-column>
                            <dxi-column dataField="chietkhau" caption="Chiết khấu" format="#0.##%"></dxi-column>
                            <dxi-column dataField="thuevat" caption="Thuế VAT" format="#0.##%"></dxi-column>
                            <!-- <dxi-column dataField="thanhtien" caption="" format="#,##0.#######"></dxi-column> -->
                            <dxi-column dataField="thanhtienvat" caption="Thành tiền" format="#,##0.#######"></dxi-column>

                            <dxi-column dataField="chuthich" caption="Chú thích"></dxi-column>

                            <!-- Thêm trang tổng cộng cuối form -->
                            <dxo-summary>
                                <dxi-total-item column="maphieu" summaryType="count" displayFormat="TỔNG CỘNG: {0}"> </dxi-total-item>
                                <dxi-total-item column="soluongkien" summaryType="sum" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                <dxi-total-item column="soluongm3" summaryType="sum" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                <dxi-total-item column="soluong" summaryType="sum" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                <dxi-total-item column="soluongdanhap" summaryType="sum" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                <dxi-total-item column="soluongchuanhap" summaryType="sum" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                <dxi-total-item column="thanhtienvat" summaryType="sum" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                            </dxo-summary>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
