<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/phieu-nhap-muon-hang']">Phiếu nhập mượn</a></li>
                    <li class="breadcrumb-item active">Cập nhật</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title" [style.margin-bottom.px]="20" [style.width]="'100%'">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>{{ 'Phiếu nhập mượn' | uppercase }} - {{ 'Cập nhật' | uppercase }}</h5>
                                </div>
                            </div>
                        </div>

                        <div id="form-container">
                            <form (submit)="onSubmitForm($event)">
                                <dx-form id="form" [colCount]="6" [formData]="phieunhapmuonhang" [showValidationSummary]="true" labelLocation="top" (onFieldDataChanged)="onFormFieldChanged($event)">
                                    <dxi-item [label]="{ text: 'NGÀY NHẬP' }" dataField="ngaynhapmuonhang" editorType="dxDateBox" [editorOptions]="{ type: 'date', readOnly: true }">
                                        <dxi-validation-rule type="required" message="Chọn ngày nhập"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item
                                        [colSpan]="2"
                                        [label]="{ text: 'MƯỢN TỪ KHO' }"
                                        dataField="khoxuat_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{ dataSource: dataSource_KhoXuat, valueExpr: 'id', searchEnabled: true, displayExpr: 'tenkhohang', readOnly: true }"
                                    >
                                        <dxi-validation-rule type="required" message="Vui lòng chọn kho mượn"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item
                                        [colSpan]="2"
                                        [label]="{ text: 'KHO NHẬP' }"
                                        dataField="khonhap_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{ dataSource: dataSource_KhoNhap, valueExpr: 'id', searchEnabled: true, displayExpr: 'tenkhohang', readOnly: true }"
                                    >
                                        <dxi-validation-rule type="required" message="Vui lòng chọn kho nhập"></dxi-validation-rule>
                                        <dxi-validation-rule type="compare" [comparisonTarget]="khohangComparison" message="Kho nhập phải khác kho mượn"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item [label]="{ text: 'TỔNG TIỀN' }" editorType="dxNumberBox" dataField="tongthanhtien" [editorOptions]="{ readOnly: true, format: '#,##0.###' }"> </dxi-item>

                                    <dxi-item [label]="{ text: 'MÃ PHIẾU' }" dataField="maphieunhapmuonhang" [editorOptions]="{ readOnly: true, placeholder: 'MÃ TẠO TỰ ĐỘNG' }"></dxi-item>
                                    <dxi-item [label]="{ text: 'GHI CHÚ' }" dataField="ghichu" [colSpan]="5"></dxi-item>

                                    <dxi-item [colSpan]="6" *ngIf="isValidForm">
                                        <div class="table-responsive">
                                            <table class="table table-vertical table-hover mt-4">
                                                <thead>
                                                    <tr>
                                                        <th [style.min-width.px]="25">STT</th>
                                                        <th [style.min-width.px]="550">HÀNG HOÁ</th>
                                                        <th [style.min-width.px]="75">ĐVT</th>
                                                        <th [style.min-width.px]="75">KIỆN</th>
                                                        <th [style.min-width.px]="75">KL</th>
                                                        <th [style.min-width.px]="80">SL</th>
                                                        <th [style.min-width.px]="120">ĐƠN GIÁ</th>
                                                        <th [style.min-width.px]="120">THÀNH TIỀN</th>
                                                        <th [style.min-width.px]="250">GHI CHÚ</th>
                                                        <th [style.max-width.px]="20" (click)="onHangHoaAdd()">
                                                            <i class="gg-btn gg-add btn-primary"></i>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of hanghoas; index as i">
                                                        <td>{{ i + 1 }}</td>
                                                        <td>
                                                            <dx-select-box
                                                                id="hanghoa_row_{{ i }}"
                                                                [(value)]="item.hanghoa_id"
                                                                [dataSource]="dataSource_HangHoa"
                                                                [displayExpr]="'tenhanghoa'"
                                                                [valueExpr]="'id'"
                                                                [searchMode]="'contains'"
                                                                [searchExpr]="['mahanghoa', 'tenhanghoa']"
                                                                [searchTimeout]="500"
                                                                [searchEnabled]="true"
                                                                [minSearchLength]="0"
                                                                (onSelectionChanged)="onHangHoaChanged(i, $event)"
                                                                itemTemplate="item"
                                                            >
                                                                <div *dxTemplate="let data of 'item'">
                                                                    <div style="display: inline-block">{{ data.tenhanghoa }}, ({{ data.soluong_tonhientai }}, {{ data.soluong_tonduocxuat }})</div>
                                                                </div>
                                                            </dx-select-box>
                                                        </td>
                                                        <td>{{ item.tendonvitinh }}</td>

                                                        <td>{{ item.tendonvitinhphu ? (item.soluong / item.tilequydoiphu | number: '1.0-3') : '' }}</td>
                                                        <td>{{ item.soluong * item.trongluong | number: '1.0-3' }}</td>

                                                        <td>
                                                            <dx-number-box [step]="0" format="#,##0.###" [(value)]="item.soluong" valueChangeEvent="input" (onValueChanged)="onHangHoaChangeRow('soluong', i, $event)"></dx-number-box>
                                                        </td>
                                                        <td>
                                                            <dx-number-box [step]="0" format="#,##0.###" [(value)]="item.dongia" valueChangeEvent="input" (onValueChanged)="onHangHoaChangeRow('dongia', i, $event)"></dx-number-box>
                                                        </td>
                                                        <td>{{ item.thanhtien | number: '1.0-3' }}</td>
                                                        <td><dx-text-box [(value)]="item.chuthich"></dx-text-box></td>
                                                        <td (click)="onHangHoaDelete(item)"><i class="gg-btn gg-remove"></i></td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th [style.min-width.px]="25"></th>
                                                        <th [style.min-width.px]="550">TỔNG CỘNG:</th>
                                                        <th [style.min-width.px]="75"></th>
                                                        <th [style.min-width.px]="75">{{this.sumTotal.transform(this.hanghoas, 'tongkien') | number: '1.0-3'}}</th>
                                                        <th [style.min-width.px]="75">{{this.sumTotal.transform(this.hanghoas, 'tongtrongluong') | number: '1.0-3'}}</th>
                                                        <th [style.min-width.px]="80">{{this.sumTotal.transform(this.hanghoas, 'soluong') | number: '1.0-3'}}</th>
                                                        <th [style.min-width.px]="120"></th>
                                                        <th [style.min-width.px]="120">{{this.sumTotal.transform(this.hanghoas, 'thanhtien') | number: '1.0-3'}}</th>
                                                        <th [style.min-width.px]="250"></th>
                                                        <th [style.max-width.px]="20" (click)="onHangHoaAdd()">
                                                            <i class="gg-btn gg-add btn-primary"></i>
                                                        </th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </dxi-item>

                                    <dxi-item [colSpan]="6">
                                        <div *dxTemplate>
                                            <dx-button icon="back" [routerLink]="['/phieu-nhap-muon-hang']" text="Quay lại" [ngClass]="['float-right', 'btn-back']" type="normal"> </dx-button>
                                            <dx-button icon="save" text="Lưu lại" [ngClass]="'float-right'" type="success" [useSubmitBehavior]="true" [disabled]="saveProcessing"> </dx-button>
                                        </div>
                                    </dxi-item>
                                </dx-form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
