<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Thống kê công nợ gia công</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'Thống kê công nợ gia công' | uppercase }}</h5>
                        <p class="card-text"></p>

                        <div class="row">
                            <div class="col-md-12">
                                <dx-date-box [style.width.px]="200" type="date" [(value)]="firstDayTime"></dx-date-box>
                                <dx-date-box [style.width.px]="200" [style.margin-left.px]="5" type="date" [(value)]="currDayTime"></dx-date-box>
                                <button [style.margin-left.px]="5" class="btn btn-sm btn-success" (click)="onLoadData()">Tải lại</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <dx-data-grid
                                    id="gridContainer"
                                    [showBorders]="true"
                                    [showRowLines]="true"
                                    [hoverStateEnabled]="true"
                                    [columnAutoWidth]="true"
                                    [columnResizingMode]="'widget'"
                                    [allowColumnResizing]="true"
                                    [allowColumnReordering]="true"
                                    [stateStoring]="stateStoringGrid"
                                    (onContextMenuPreparing)="addMenuItems($event)"
                                    (onOptionChanged)="onOptionChanged($event)"
                                >
                                    <dxo-selection mode="single"></dxo-selection>
                                    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                                    <dxo-export [enabled]="enableExport" [fileName]="exportFileName"></dxo-export>

                                    <!-- dx-data-grid option -->
                                    <dxo-search-panel [visible]="true" [width]="300"></dxo-search-panel>
                                    <dxo-column-chooser [enabled]="true" [allowSearch]="true"></dxo-column-chooser>
                                    <dxo-scrolling columnRenderingMode="virtual" [useNative]="true" class="dx-scrollable-customizable-scrollbars"></dxo-scrolling>
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-pager
                                        [showInfo]="true"
                                       
                                        [showPageSizeSelector]="true"
                                        [allowedPageSizes]="[10, 15, 20]"
                                        [showNavigationButtons]="true"
                                    >
                                    </dxo-pager>

                                    <dxi-column dataField="tendonvigiacong" caption="Đơn vị gia công" [groupIndex]="0"></dxi-column>
                                    <dxi-column dataField="madonvigiacong" caption="Mã đơn vị gia công"></dxi-column>
                                    <dxi-column dataField="diachi" caption="Địa chỉ"></dxi-column>
                                    <dxi-column dataField="sodienthoai" caption="Điện thoại"></dxi-column>

                                    <dxi-column dataField="ngayphatsinh" caption="Ngày phát sinh" dataType="date"></dxi-column>
                                    <dxi-column dataField="maphieu" caption="Mã phiếu"></dxi-column>
                                    <dxi-column dataField="noidung" caption="Nội dung"></dxi-column>
                                    <dxi-column dataField="ghichu" caption="Ghi chú"></dxi-column>
                                    <dxi-column dataField="nhanvien" caption="Nhân viên"></dxi-column>

                                    <dxi-column dataField="nodauky" caption="Nợ đầu kỳ" alignment="right" format="#,##0.###" [customizeText]="customizeText"></dxi-column>
                                    <dxi-column dataField="tiengiacong" caption="Tiền gia công" alignment="right" format="#,##0.###"></dxi-column>
                                    <dxi-column dataField="tongtienchi" caption="Tiền chi" alignment="right" format="#,##0.###"></dxi-column>
                                    <!-- <dxi-column dataField="tongtienthu" caption="Tiền thu" alignment="right" format="#,##0.###"></dxi-column> -->
                                    <dxi-column dataField="nocuoiky" caption="Nợ cuối kỳ" alignment="right" format="#,##0.###" [customizeText]="customizeText"></dxi-column>
                                    <dxi-column dataField="congnohientai" caption="Nợ cuối" alignment="right" format="#,##0.###" [customizeText]="customizeText"></dxi-column>

                                    <dxi-column dataField="luytien" caption="Luỹ tiến" alignment="right" format="#,##0.###"></dxi-column>

                                    <dxo-summary [calculateCustomSummary]="calculateSummary">
                                        <dxi-group-item showInColumn="madonvigiacong" displayFormat="TỔNG CỘNG:" [showInGroupFooter]="true"> </dxi-group-item>

                                        <dxi-group-item
                                            name="RowsSummaryNoDauKy"
                                            summaryType="custom"
                                            showInColumn="nodauky"
                                            valueFormat="#,##0.###"
                                            displayFormat="{0}"
                                            [showInGroupFooter]="false"
                                            [alignByColumn]="true"
                                        >
                                        </dxi-group-item>
                                        <dxi-group-item
                                        name="RowsSummarytiengiacong" 
                                        column="tiengiacong" 
                                        summaryType="sum" 
                                        valueFormat="#,##0.###" 
                                        displayFormat="{0}" 
                                        [showInGroupFooter]="false"
                                        [alignByColumn]="true"
                                        > 
                                    </dxi-group-item>
                                        <dxi-group-item
                                        name="RowsSummarytongtienthu"  
                                        column="tongtienthu" 
                                        summaryType="sum" 
                                        valueFormat="#,##0.###" 
                                        displayFormat="{0}" 
                                        [showInGroupFooter]="false"
                                        [alignByColumn]="true"
                                        > 
                                    </dxi-group-item>
                                        <dxi-group-item 
                                        name="RowsSummarytongtienchi"
                                        column="tongtienchi" 
                                        summaryType="sum" 
                                        valueFormat="#,##0.###" 
                                        displayFormat="{0}" 
                                        [showInGroupFooter]="false"
                                        [alignByColumn]="true"
                                        > 
                                    </dxi-group-item>
                                        <dxi-group-item 
                                        name="RowsSummaryNoCuoiKy" 
                                        summaryType="custom" 
                                        showInColumn="nocuoiky" 
                                        valueFormat="#,##0.###" 
                                        displayFormat="{0}" 
                                        [showInGroupFooter]="false"
                                        [alignByColumn]="true"
                                        >
                                        </dxi-group-item>
                                        <dxi-group-item
                                            name="RowsSummaryCongNoHienTai"
                                            summaryType="custom"
                                            showInColumn="congnohientai"
                                            valueFormat="#,##0.###"
                                            displayFormat="{0}"
                                            [showInGroupFooter]="false"
                                            [alignByColumn]="true"
                                        >
                                        </dxi-group-item>
                                    </dxo-summary>

                                    <!-- Thêm trang tổng cộng cuối form -->
                                    <dxo-summary>
                                        <dxi-total-item column="maphieu" summaryType="count" displayFormat="TỔNG CỘNG: {0}"> </dxi-total-item>
                                        <dxi-total-item name="RowsSummaryNoDauKy" showInColumn="nodauky" summaryType="custom" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                        <dxi-total-item column="tiengiacong" summaryType="sum" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                        <dxi-total-item column="tongtienthu" summaryType="sum" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                        <dxi-total-item column="tongtienchi" summaryType="sum" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                        <dxi-total-item name="RowsSummaryNoCuoiKy" showInColumn="nocuoiky" summaryType="custom" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                        <dxi-total-item name="RowsSummaryCongNoHienTai" showInColumn="congnohientai" summaryType="custom" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                    </dxo-summary>

                                    <dxi-sort-by-group-summary-info summaryItem="count"></dxi-sort-by-group-summary-info>
                                    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                                    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
