<div class="modal-header">
    <h6 class="modal-title pull-left">
        <b>{{ title }}</b>
    </h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th [style.min-width.px]="300">LOT</th>
                            <th [style.min-width.px]="80">SỐ LƯỢNG</th>
                            <th [style.max-width.px]="20">
                                <i class="gg-btn gg-add btn-primary" (click)="onAdd_Row()"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lohangs; index as i">
                            <td>
                                <dx-select-box
                                    id="loi_row_{{ i }}"
                                    [dropDownOptions]="{ width: 395 }"
                                    [(value)]="item.hanghoa_lohang_id"
                                    [dataSource]="dataSource_LoHang"
                                    [displayExpr]="'malohang'"
                                    [valueExpr]="'id'"
                                    [searchMode]="'contains'"
                                    [searchExpr]="['malohang']"
                                    [searchTimeout]="500"
                                    [searchEnabled]="true"
                                    [minSearchLength]="0"
                                    (onSelectionChanged)="onChange_Row()"
                                    itemTemplate="item"
                                >
                                    <div *dxTemplate="let data of 'item'">
                                        <div style="display: inline-block">{{ data.malohang }}, {{ data.hansudung | date:"dd/MM/yy" }} ({{ data.soluong_tonduocxuat }})</div>
                                    </div>
                                </dx-select-box>
                            </td>
                            <td> <dx-number-box [step]="0" format="#,##0.#######" [(value)]="item.soluong"></dx-number-box> </td>
                            <td> <i class="gg-btn gg-remove" (click)="onDelete_Row(item)"></i> </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th [style.min-width.px]="300">TỔNG CỘNG:</th>
                            <th [style.min-width.px]="80">{{ this.sumTotal.transform(this.lohangs, 'soluong') | number: '1.0-3' }}</th>
                            <th [style.max-width.px]="20">
                                <i class="gg-btn gg-add btn-primary" (click)="onAdd_Row()"></i>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="onConfirm()">Đồng ý</button>
    <button type="button" class="btn btn-default" (click)="onCancel()">{{ closeBtnName }}</button>
</div>
