<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Khách đặt hàng</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'Khách đặt hàng' | uppercase }} - DANH SÁCH</h5>
                        <p class="card-text"></p>

                        <div class="row">
                            <div class="col-md-12">
                                <dx-date-box [style.width.px]="200" type="datetime" [(value)]="firstDayTime"></dx-date-box>
                                <dx-date-box [style.width.px]="200" [style.margin-left.px]="5" type="datetime" [(value)]="currDayTime"></dx-date-box>

                                <button [style.margin-left.px]="5" class="btn btn-sm btn-primary" [routerLink]="['/phieu-dat-hang/them-moi']">Thêm mới</button>
                                <button [style.margin-left.px]="5" class="btn btn-sm btn-success" (click)="onLoadData()">Tải lại</button>
                            </div>
                        </div>

                        <dx-data-grid
                            id="gridContainer"
                            [showBorders]="true"
                            [columnAutoWidth]="true"
                            [showRowLines]="true"
                            [hoverStateEnabled]="true"
                            [stateStoring]="stateStoringGrid"
                            (onRowDblClick)="onRowDblClick($event)"
                        >
                            <dxi-column width="140" dataField="id" caption="Thao tác" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
                                <div *dxTemplate="let data of 'cellTemplate'">
                                    <a [routerLink]="['/phieu-dat-hang/' + data.value + '/cap-nhat']" [queryParams]="{ tattoan: 'ok' }">Tất toán</a> |
                                    <a [routerLink]="['/phieu-dat-hang/' + data.value + '/cap-nhat']">Sửa</a> |
                                    <a href="javascript:void(0)" (click)="onRowDelete(data.value)">Xóa</a>
                                </div>
                            </dxi-column>

                            <dxi-column dataField="ngaydathang" dataType="datetime" caption="Ngày đặt hàng"></dxi-column>
                            <dxi-column dataField="maphieudathang" caption="Mã phiếu"></dxi-column>
                            <dxi-column dataField="khachhang_hoten" caption="Tên khách hàng"></dxi-column>
                            <dxi-column dataField="tongtienhang" caption="Tiền hàng"></dxi-column>
                            <!-- <dxi-column dataField="cuocvanchuyen" caption="Cước vận chuyển"></dxi-column> -->
                            <dxi-column dataField="chietkhau" caption="Chiết khấu"></dxi-column>
                            <dxi-column dataField="thuevat" caption="Thuế VAT"></dxi-column>
                            <dxi-column dataField="tongthanhtien" caption="Tổng tiền"></dxi-column>
                            <dxi-column dataField="nguoitao_hoten" caption="Người tạo"></dxi-column>
                            <dxi-column dataField="thoigiantao" dataType="datetime" caption="Thời gian tạo"></dxi-column>

                            <dxi-column dataField="trangthainhap" caption="Trạng thái xuất" cellTemplate="cellTemplateTrangThaiXuat">
                                <div *dxTemplate="let data of 'cellTemplateTrangThaiXuat'">
                                    <span *ngIf="data.value == null">Chưa Xuất</span>
                                    <span *ngIf="data.value != null">{{ data.value }}</span>
                                </div>
                            </dxi-column>

                            <dxi-column dataField="kichhoat" caption="Trạng thái" cellTemplate="cellTemplateTrangThai">
                                <div *dxTemplate="let data of 'cellTemplateTrangThai'">
                                    <span class="text-green" *ngIf="data.value == true">Kích hoạt</span>
                                    <span class="text-red" *ngIf="data.value != true">Ngưng sử dụng</span>
                                </div>
                            </dxi-column>
                            <dxi-column dataField="ghichu" caption="Ghi chú"></dxi-column>

                            <dxo-search-panel [visible]="true"></dxo-search-panel>
                            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                            <dxo-scrolling columnRenderingMode="virtual" [useNative]="true" class="dx-scrollable-customizable-scrollbars"></dxo-scrolling> 
                            <dxo-paging [pageSize]="9" [pageIndex]="1"></dxo-paging>
                            <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20]" [showNavigationButtons]="true">
                            </dxo-pager>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
