<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/bang-gia']">Bảng giá</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title" [style.margin-bottom.px]="20" [style.width]="'100%'">
                            <div class="row">
                                <div class="col-md-8">
                                    <h5>{{ 'bảng giá' | uppercase }} - THÊM MỚI</h5>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-sm btn-primary float-right" (click)="fileUpload.click()">
                                        <i class="fa fa-file-excel" aria-hidden="true"></i> Tải lên từ Excel
                                        <input #fileUpload hidden="true" type="file" (change)="onChangeFile($event)" />
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="form-container">
                            <form (submit)="onSubmitForm($event)">
                                <dx-form id="form" [colCount]="6" [formData]="banggia" [showValidationSummary]="true" labelLocation="top" (onFieldDataChanged)="onFormFieldChanged($event)">
                                    <dxi-item [label]="{ text: 'NGÀY BÁO GIÁ' }" dataField="ngaybanggia" editorType="dxDateBox" [editorOptions]="{ type: 'date' }">
                                        <dxi-validation-rule type="required" message="Chọn ngày báo giá"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item
                                        [colSpan]="2"
                                        [label]="{ text: 'KHÁCH HÀNG' }"
                                        dataField="khachhang_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{
                                            showClearButton: true,
                                            dataSource: dataSource_KhachHang,
                                            valueExpr: 'id',
                                            searchEnabled: true,
                                            searchExpr: ['tenkhachhang', 'makhachhang'],
                                            displayExpr: 'tenkhachhang'
                                        }"
                                    >
                                    </dxi-item>
                                    <dxi-item [label]="{ text: 'ĐỊA CHỈ' }" dataField="diachi" [colSpan]="2"> </dxi-item>
                                    <dxi-item [label]="{ text: 'ĐIỆN THOẠI' }" dataField="sodienthoai"> </dxi-item>

                                    <dxi-item [label]="{ text: 'NGÀY CÓ HIỆU LỰC' }" dataField="ngaycohieuluc" editorType="dxDateBox" [editorOptions]="{ type: 'date' }"> </dxi-item>
                                    <dxi-item [label]="{ text: 'ĐỊA ĐIỂM GIAO' }" dataField="diadiemgiao" [colSpan]="4"></dxi-item>
                                    <dxi-item
                                        [colSpan]="1"
                                        [label]="{ text: 'ĐK THANH TOÁN' }"
                                        dataField="noidungno_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{ dataSource: dataSource_DanhMucNo, valueExpr: 'id', searchEnabled: true, displayExpr: 'tendanhmucno' }"
                                    >
                                        <dxi-validation-rule type="required" message="Vui lòng chọn nội dung nợ"></dxi-validation-rule>
                                    </dxi-item>

                                    <dxi-item [label]="{ text: 'MÃ PHIẾU' }" dataField="mabanggia" [editorOptions]="{ readOnly: true, placeholder: 'MÃ TẠO TỰ ĐỘNG' }"></dxi-item>
                                    <dxi-item [editorOptions]="{ inputAttr: { autocomplete: 'on', name: 'ghichu' } }" [label]="{ text: 'GHI CHÚ' }" dataField="ghichu" [colSpan]="5"></dxi-item>

                                    <dxi-item [colSpan]="6">
                                        <div class="table-responsive">
                                            <table class="table table-vertical table-hover mt-4">
                                                <thead>
                                                    <tr>
                                                        <th [style.min-width.px]="25">STT</th>
                                                        <th [style.min-width.px]="550">HÀNG HOÁ</th>
                                                        <th [style.min-width.px]="75">ĐVT</th>
                                                        <th [style.min-width.px]="120">ĐƠN GIÁ</th>
                                                        <th [style.min-width.px]="120">ĐƠN GIÁ VAT</th>
                                                        <th [style.min-width.px]="250">GHI CHÚ</th>
                                                        <th [style.min-width.px]="250">TÊN IN RA</th>
                                                        <th [style.max-width.px]="20"><i class="gg-btn gg-add btn-primary" (click)="onHangHoaAdd()"></i></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of hanghoas; index as i">
                                                        <td>{{ i + 1 }}</td>
                                                        <td>
                                                            <dx-select-box
                                                                id="nguyenlieu_row_{{ i }}"
                                                                [(value)]="item.hanghoa_id"
                                                                [dataSource]="dataSource_HangHoa"
                                                                [displayExpr]="'tenhanghoa'"
                                                                [valueExpr]="'id'"
                                                                [searchMode]="'contains'"
                                                                [searchExpr]="['mahanghoa', 'tenhanghoa']"
                                                                [searchTimeout]="500"
                                                                [searchEnabled]="true"
                                                                [minSearchLength]="0"
                                                                (onSelectionChanged)="onHangHoaChanged(i, $event)"
                                                            >
                                                            </dx-select-box>
                                                        </td>
                                                        <td>{{ item.tendonvitinh }}</td>
                                                        <td>
                                                            <dx-number-box [step]="0" format="#,##0.###" [(value)]="item.dongia" (onValueChanged)="onHangHoaChangeRow('dongia', i, $event)"></dx-number-box>
                                                        </td>
                                                        <td>
                                                            <dx-number-box
                                                                [step]="0"
                                                                format="#,##0.###"
                                                                [(value)]="item.dongiacothue"
                                                                (onValueChanged)="onHangHoaChangeRow('dongiacothue', i, $event)"
                                                            ></dx-number-box>
                                                        </td>

                                                        <td><dx-text-box [inputAttr]="{ autocomplete: 'on', name: 'chuthich'}" [(value)]="item.chuthich"></dx-text-box></td>
                                                        <td>
                                                            <dx-text-box [(value)]="item.tenhanghoa_inphieu"></dx-text-box>
                                                        </td>
                                                        <td><i class="gg-btn gg-remove" (click)="onHangHoaDelete(item)"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </dxi-item>

                                    <dxi-item [colSpan]="6">
                                        <div *dxTemplate>
                                            <dx-button icon="back" [routerLink]="['/bang-gia']" text="Quay lại" [ngClass]="['float-right', 'btn-back']" type="normal"> </dx-button>
                                            <dx-button icon="save" text="Lưu lại" [ngClass]="'float-right'" type="success" [useSubmitBehavior]="true" [disabled]="saveProcessing"> </dx-button>
                                        </div>
                                    </dxi-item>
                                </dx-form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
