<div class="modal-header">
    <h6 class="modal-title pull-left">
        <b>{{ title }}</b>
    </h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <dx-date-box [style.width.px]="200" type="datetime" [(value)]="firstDayTime"></dx-date-box>
            <dx-date-box [style.width.px]="200" [style.margin-left.px]="5" type="datetime" [(value)]="currDayTime"></dx-date-box>

            <button [style.margin-left.px]="5" class="btn btn-sm btn-success" (click)="onLoadData()">Tải lại</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <dx-data-grid
                id="gridContainer"
                [showBorders]="true"
                [showRowLines]="true"
                [hoverStateEnabled]="true"
                [stateStoring]="stateStoringGrid"
                [columnAutoWidth]="true"
                [columnResizingMode]="'widget'"
                [allowColumnResizing]="true"
                [allowColumnReordering]="true"
                (onRowDblClick)="onRowDblClick($event)"
            >
                <!-- dx-data-grid column -->
                <dxi-column caption="STT" cellTemplate="cellTemplateSTT" alignment="center">
                    <div *dxTemplate="let data of 'cellTemplateSTT'">
                        {{ rowNumber(data.rowIndex) }}
                    </div>
                </dxi-column>

                <dxi-column dataField="ngayxuatchuyenkho" dataType="datetime" caption="Ngày xuất chuyển kho"></dxi-column>
                <dxi-column dataField="maphieuxuatchuyenkho" caption="Mã phiếu"></dxi-column>
                <dxi-column dataField="tenkhoxuatchuyen" caption="Kho xuất chuyển"></dxi-column>
                <dxi-column dataField="tenkhonhap" caption="Kho nhập"></dxi-column>
                <dxi-column dataField="trangthainhap" caption="Trạng thái nhập" cellTemplate="cellTemplateTrangThaiNhap">
                    <div *dxTemplate="let data of 'cellTemplateTrangThaiNhap'">
                        <span class="text-green" *ngIf="data.value == null">Chưa nhập</span>
                        <span class="text-red" *ngIf="data.value != null">{{ data.value }}</span>
                    </div>
                </dxi-column>

                <!-- <dxi-column dataField="kichhoat" caption="Trạng thái" cellTemplate="cellTemplateTrangThai">
                                <div *dxTemplate="let data of 'cellTemplateTrangThai'">
                                    <span class="text-green" *ngIf="data.value == true">Kích hoạt</span>
                                    <span class="text-red" *ngIf="data.value != true">Ngưng sử dụng</span>
                                </div>
                            </dxi-column> -->
                <dxi-column dataField="ghichu" caption="Ghi chú"></dxi-column>

                <dxi-column dataField="nguoitao_hoten" caption="Người tạo"></dxi-column>
                <dxi-column dataField="thoigiantao" dataType="datetime" caption="Ngày tạo"></dxi-column>
                <dxi-column dataField="nguoisua_hoten" caption="Người sửa"></dxi-column>
                <dxi-column dataField="thoigiansua" dataType="datetime" caption="Ngày sửa"></dxi-column>

                <!-- dx-data-grid option -->
                <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>

                <dxo-search-panel [visible]="true" [width]="300"></dxo-search-panel>
                <dxo-column-chooser [enabled]="true" [allowSearch]="true"></dxo-column-chooser>
                <dxo-scrolling columnRenderingMode="virtual" [useNative]="true" class="dx-scrollable-customizable-scrollbars"></dxo-scrolling>
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-pager [showInfo]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20]" [showNavigationButtons]="true"> </dxo-pager>
            </dx-data-grid>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="onCancel()">{{ closeBtnName }}</button>
</div>
