<div class="modal-header">
    <h6 class="modal-title pull-left">
        <b>{{ title }}</b>
    </h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <dx-date-box [style.width.px]="200" type="datetime" [(value)]="firstDayTime"></dx-date-box>
            <dx-date-box [style.width.px]="200" [style.margin-left.px]="5" type="datetime" [(value)]="currDayTime"></dx-date-box>

            <button [style.margin-left.px]="5" class="btn btn-sm btn-success" (click)="onLoadData()">Tải lại</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <dx-data-grid id="gridContainer" [showBorders]="true" [showRowLines]="true" [hoverStateEnabled]="true" [stateStoring]="stateStoringGrid" [columnAutoWidth]="true" (onRowDblClick)="onRowDblClick($event)">

                <dxi-column dataField="ngaymuahangncc" dataType="datetime" caption="Ngày mua hàng"></dxi-column>
                <dxi-column dataField="maphieumuahangncc" caption="Mã phiếu"></dxi-column>
                <dxi-column dataField="maphieudathangncc" caption="Từ phiếu"></dxi-column>
                <dxi-column dataField="tennhacungcap" caption="Nhà cung cấp"></dxi-column>
                <dxi-column dataField="tongtienhang" caption="Tiền hàng" format="#,##0.###"></dxi-column>
                <dxi-column dataField="cuocvanchuyen" caption="Cước vận chuyển"></dxi-column>
                <dxi-column dataField="chietkhau" caption="Chiết khấu" format="#0%"></dxi-column>
                <dxi-column dataField="thuevat" caption="Thuế VAT" format="#0%"></dxi-column>
                <dxi-column dataField="tongthanhtien" caption="Tổng tiền" format="#,##0.###"></dxi-column>

                <dxi-column dataField="trangthainhap" caption="Trạng thái nhập" cellTemplate="cellTemplateTrangThaiNhap">
                    <div *dxTemplate="let data of 'cellTemplateTrangThaiNhap'">
                        <span *ngIf="data.value == null">Chưa nhập</span>
                        <span *ngIf="data.value != null">{{ data.value }}</span>
                    </div>
                </dxi-column>

                <dxi-column dataField="kichhoat" caption="Trạng thái" cellTemplate="cellTemplateTrangThai">
                    <div *dxTemplate="let data of 'cellTemplateTrangThai'">
                        <span class="text-green" *ngIf="data.value == true">Kích hoạt</span>
                        <span class="text-red" *ngIf="data.value != true">Ngưng sử dụng</span>
                    </div>
                </dxi-column>
                <dxi-column dataField="ghichu" caption="Ghi chú"></dxi-column>

                <!-- dx-data-grid option -->
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                <dxo-scrolling columnRenderingMode="virtual" [useNative]="true" class="dx-scrollable-customizable-scrollbars"></dxo-scrolling> 
                <dxo-paging [pageSize]="9"></dxo-paging>
                <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20]" [showNavigationButtons]="true"> </dxo-pager>
            </dx-data-grid>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="onCancel()">{{ closeBtnName }}</button>
</div>
