<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/phieu-dat-hang']">Phiếu đặt hàng</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title" [style.margin-bottom.px]="20">
                            <h5>{{ 'Phiếu đặt hàng' | uppercase }} - THÊM MỚI</h5>
                        </div>
                        <div id="form-container">
                            <form (submit)="onSubmitForm($event)">
                                <dx-form id="form" [colCount]="6" [formData]="phieudathang" [showValidationSummary]="true" labelLocation="top" (onFieldDataChanged)="onFormFieldChanged($event)">
                                    <dxi-item [label]="{ text: 'NGÀY ĐẶT HÀNG' }" dataField="ngaydathang" editorType="dxDateBox" [editorOptions]="{ type: 'date' }">
                                        <dxi-validation-rule type="required" message="Chọn ngày đặt hàng"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item
                                        [colSpan]="4"
                                        [label]="{ text: 'KHÁCH HÀNG' }"
                                        dataField="khachhang_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{
                                            dataSource: dataSource_KhachHang,
                                            valueExpr: 'id',
                                            searchEnabled: true,
                                            searchExpr: ['tenkhachhang', 'makhachhang'],
                                            displayExpr: 'tenkhachhang'
                                        }"
                                    >
                                        <dxi-validation-rule type="required" message="Vui lòng chọn Khách hàng"></dxi-validation-rule>
                                    </dxi-item>
                                    
                                    <dxi-item [label]="{ text: 'NỢ CŨ' }" editorType="dxNumberBox" dataField="nocu" [editorOptions]="{ readOnly: true, format: '#,##0.###' }"> </dxi-item>
                                    <!-- <dxi-item [label]="{ text: 'GIỮ HÀNG CÓ SẴN' }" dataField="giuhang" editorType="dxCheckBox" [editorOptions]="{ text: 'Giữ hàng' }"> </dxi-item> -->

                                    <dxi-item [label]="{ text: 'NGÀY NHẬN HÀNG' }" dataField="ngaynhanhang_dukien" editorType="dxDateBox" [editorOptions]="{ type: 'date' }"> </dxi-item>
                                    <dxi-item [label]="{ text: 'TÊN NGƯỜI NHẬN' }" dataField="khachhang_hoten" [colSpan]="2"> </dxi-item>

                                    <dxi-item [label]="{ text: 'ĐỊA CHỈ GIAO' }" dataField="khachhang_diachi" [colSpan]="2"> </dxi-item>
                                    <dxi-item [label]="{ text: 'ĐIỆN THOẠI' }" dataField="khachhang_dienthoai" [editorOptions]="{ readOnly: true }"> </dxi-item>
                                    <!-- <dxi-item
                                        [colSpan]="1"
                                        [label]="{ text: 'KHO HÀNG CÓ SẴN' }"
                                        dataField="khoxuat_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{ dataSource: dataSource_KhoHang, valueExpr: 'id', searchEnabled: true, searchExpr: ['tenkhohang', 'makhohang'], displayExpr: 'tenkhohang' }"
                                    >
                                        <dxi-validation-rule type="async" message="Vui lòng chọn kho hàng" [validationCallback]="asyncValidation"></dxi-validation-rule>
                                    </dxi-item> -->
                                    <dxi-item [label]="{ text: 'MÃ PHIẾU' }" dataField="maphieudathang" [editorOptions]="{ readOnly: true, placeholder: 'MÃ TẠO TỰ ĐỘNG' }"></dxi-item>
                                    <dxi-item
                                        [colSpan]="2"
                                        [label]="{ text: 'NHÂN VIÊN KINH DOANH' }"
                                        dataField="nhanviensale_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{ dataSource: dataSource_NguoiDung, valueExpr: 'id', searchEnabled: true, displayExpr: 'hoten' }"
                                    >
                                        <dxi-validation-rule type="required" message="Vui lòng chọn nhân viên kinh doanh"></dxi-validation-rule>
                                    </dxi-item>
                                    <!-- <dxi-item [label]="{ text: 'TỔNG TIỀN HÀNG' }" editorType="dxNumberBox" dataField="tongtienhang" [editorOptions]="{ readOnly: true, format: '#,##0' }"> </dxi-item> -->
                                    <dxi-item [label]="{ text: 'CK' }" dataField="chietkhau" [editorOptions]="{ format: '#0.##%', step: '0', valueChangeEvent: 'input' }"> </dxi-item>
                                    <dxi-item [label]="{ text: 'VAT' }" dataField="thuevat" [editorOptions]="{ format: '#0.##%', step: '0', valueChangeEvent: 'input' }"> </dxi-item>
                                    <dxi-item [label]="{ text: 'TỔNG THÀNH TIỀN' }" editorType="dxNumberBox" dataField="tongthanhtien" [editorOptions]="{ readOnly: true, format: '#,##0' }">
                                    </dxi-item>

                                    <dxi-item [editorOptions]="{ inputAttr: { autocomplete: 'on', name: 'ghichu' } }" [label]="{ text: 'GHI CHÚ' }" dataField="ghichu" [colSpan]="6"></dxi-item>
                                    <dxi-item [colSpan]="6" *ngIf="isValidForm">
                                        <mat-tab-group mat-align-tabs="start" [style.margin-top.px]="10">
                                            <!-- <mat-tab label="HÀNG CÓ SẴN">
                                                <div class="table-responsive">
                                                    <table class="table table-vertical table-hover mt-4">
                                                        <thead>
                                                            <tr>
                                                                <th [style.min-width.px]="25">STT</th>
                                                                <th [style.min-width.px]="550">HÀNG HOÁ</th>
                                                                <th [style.min-width.px]="75">ĐVT</th>
                                                                <th [style.min-width.px]="75">KIỆN</th>
                                                                <th [style.min-width.px]="75">KL</th>
                                                                <th [style.min-width.px]="80">SL</th>
                                                                <th [style.min-width.px]="120">ĐƠN GIÁ</th>
                                                                <th [style.min-width.px]="75">CK</th>
                                                                <th [style.min-width.px]="75">VAT</th>
                                                                <th [style.min-width.px]="120">THÀNH TIỀN</th>
                                                                <th [style.min-width.px]="100">ĐÃ NHẬN</th>
                                                                <th [style.min-width.px]="80">CÒN LẠI</th>
                                                                <th [style.min-width.px]="250">GHI CHÚ</th>
                                                                <th [style.min-width.px]="250">TÊN IN RA</th>
                                                                <th [style.max-width.px]="20"><i class="gg-btn gg-add btn-primary" (click)="onHangHoaAdd()"></i></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of hanghoas; index as i">
                                                                <td>{{ i + 1 }}</td>
                                                                <td>
                                                                    <dx-select-box
                                                                        id="nguyenlieu_row_{{ i }}"
                                                                        [(value)]="item.hanghoa_id"
                                                                        [dataSource]="dataSource_HangHoa"
                                                                        [displayExpr]="'tenhanghoa'"
                                                                        [valueExpr]="'id'"
                                                                        [searchMode]="'contains'"
                                                                        [searchExpr]="['mahanghoa', 'tenhanghoa']"
                                                                        [searchTimeout]="500"
                                                                        [searchEnabled]="true"
                                                                        [minSearchLength]="0"
                                                                        (onSelectionChanged)="onHangHoaChanged(i, $event)"
                                                                        itemTemplate="item"
                                                                    >
                                                                        <div *dxTemplate="let data of 'item'">
                                                                            <div style="display: inline-block">
                                                                                {{ data.tenhanghoa }}, ({{ data.soluong_tonhientai }}, {{ data.soluong_tonduocxuat }})
                                                                            </div>
                                                                        </div>
                                                                    </dx-select-box>
                                                                </td>
                                                                <td>{{ item.tendonvitinh }}</td>

                                                                <td>{{ item.tendonvitinhphu ? (item.soluong / item.tilequydoiphu | number: '1.0-3') : '' }}</td>
                                                                <td>{{ item.soluong * item.trongluong | number: '1.0-3' }}</td>

                                                                <td>
                                                                    <dx-number-box
                                                                        format="#,##0.###"
                                                                        [(value)]="item.soluong"
                                                                        valueChangeEvent="input"
                                                                        (onValueChanged)="onHangHoaChangeRow('soluong', i, $event)"
                                                                    ></dx-number-box>
                                                                </td>
                                                                <td>
                                                                    <dx-number-box
                                                                        format="#,##0.###"
                                                                        [(value)]="item.dongia"
                                                                        valueChangeEvent="input"
                                                                        (onValueChanged)="onHangHoaChangeRow('dongia', i, $event)"
                                                                    ></dx-number-box>
                                                                </td>
                                                                <td>
                                                                    <dx-number-box
                                                                        format="#0.##%"
                                                                        [step]="0"
                                                                        [(value)]="item.chietkhau"
                                                                        valueChangeEvent="input"
                                                                        (onValueChanged)="onHangHoaChangeRow('chietkhau', i, $event)"
                                                                    ></dx-number-box>
                                                                </td>
                                                                <td>
                                                                    <dx-number-box
                                                                        format="#0.##%"
                                                                        [step]="0"
                                                                        [(value)]="item.thuevat"
                                                                        valueChangeEvent="input"
                                                                        (onValueChanged)="onHangHoaChangeRow('thuevat', i, $event)"
                                                                    ></dx-number-box>
                                                                </td>

                                                                <td>{{ item.thanhtien | number: '1.0-3' }}</td>
                                                                <td>{{ item.soluongdagiao | number: '1.0-3' }}</td>
                                                                <td>{{ item.soluong - item.soluongdagiao | number: '1.0-3' }}</td>

                                                               <td><dx-text-box [inputAttr]="{ autocomplete: 'on', name: 'chuthich'}" [(value)]="item.chuthich"><</dx-text-box></td>
                                                                <td>
                                                                    <dx-text-box [(value)]="item.tenhanghoa_inphieu"></dx-text-box>
                                                                </td>
                                                                <td><i class="gg-btn gg-remove" (click)="onHangHoaDelete(item)"></i></td>
                                                            </tr>
                                                        </tbody>
                                                        <thead>
                                                            <tr>
                                                                <th [style.min-width.px]="25"></th>
                                                                <th [style.min-width.px]="550">TỔNG CỘNG:</th>
                                                                <th [style.min-width.px]="75"></th>
                                                                <th [style.min-width.px]="75">{{ this.sumTotal.transform(this.hanghoas, 'tongkien') | number: '1.0-3' }}</th>
                                                                <th [style.min-width.px]="75">{{ this.sumTotal.transform(this.hanghoas, 'tongtrongluong') | number: '1.0-3' }}</th>
                                                                <th [style.min-width.px]="80">{{ this.sumTotal.transform(this.hanghoas, 'soluong') | number: '1.0-3' }}</th>
                                                                <th [style.min-width.px]="120"></th>
                                                                <th [style.min-width.px]="75"></th>
                                                                <th [style.min-width.px]="75"></th>
                                                                <th [style.min-width.px]="120">{{ this.sumTotal.transform(this.hanghoas, 'thanhtien') | number: '1.0-3' }}</th>
                                                                <th [style.min-width.px]="100">{{ this.sumTotal.transform(this.hanghoas, 'soluongdagiao') | number: '1.0-3' }}</th>
                                                                <th [style.min-width.px]="80">{{ this.sumTotal.transform(this.hanghoas, 'soluongconlai') | number: '1.0-3' }}</th>
                                                                <th [style.min-width.px]="250"></th>
                                                                <th [style.min-width.px]="250"></th>
                                                                <th [style.max-width.px]="20"><i class="gg-btn gg-add btn-primary" (click)="onHangHoaAdd()"></i></th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </mat-tab> -->
                                            <mat-tab label="YÊU CẦU SẢN XUẤT">
                                                <div class="table-responsive">
                                                    <table class="table table-vertical table-hover mt-4">
                                                        <thead>
                                                            <tr>
                                                                <th [style.min-width.px]="25">STT</th>
                                                                <th [style.min-width.px]="250">KHO XUẤT</th>
                                                                <th [style.min-width.px]="500">HÀNG HOÁ</th>
                                                                <th [style.min-width.px]="250">KHO GIA CÔNG</th>
                                                                <th [style.min-width.px]="250">KHO NHẬP TP</th>
                                                                <th [style.min-width.px]="250">Y/C</th>
                                                                <th [style.min-width.px]="110">SỐ MẶT Y/C</th>
                                                                <th [style.min-width.px]="110">SỐ MẶT TP</th>
                                                                <th [style.min-width.px]="80">SL Y/C</th>
                                                                <th [style.min-width.px]="120">ĐƠN GIÁ BÁN</th>
                                                                <th [style.min-width.px]="75">CK</th>
                                                                <th [style.min-width.px]="75">VAT</th>
                                                                <th [style.min-width.px]="120">THÀNH TIỀN</th>
                                                                <th [style.min-width.px]="250">GHI CHÚ</th>
                                                                <th [style.min-width.px]="300">THÀNH PHẨM</th>
                                                                <th [style.max-width.px]="20">
                                                                    <i class="gg-btn gg-add btn-primary" (click)="onHangHoaAdd('sanxuat')"></i>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of hanghoas_sanxuat; index as i">
                                                                <td>{{ i + 1 }}</td>
                                                                <td>
                                                                    <dx-select-box
                                                                        [readOnly]="i != 0"
                                                                        id="khoxuat_row_{{ i }}"
                                                                        [(value)]="i != 0 ? hanghoas_sanxuat[0].khoxuat_id : item.khoxuat_id"
                                                                        [dataSource]="dataSource_KhoHang"
                                                                        [displayExpr]="'tenkhohang'"
                                                                        [valueExpr]="'id'"
                                                                        [searchMode]="'contains'"
                                                                        [searchExpr]="['makhohang', 'tenkhohang']"
                                                                        [searchTimeout]="500"
                                                                        [searchEnabled]="true"
                                                                        [minSearchLength]="0"
                                                                    >
                                                                    </dx-select-box>
                                                                </td>
                                                                <td>
                                                                    <dx-select-box
                                                                        id="hanghoa_row_{{ i }}"
                                                                        [(value)]="item.hanghoa_id"
                                                                        [dataSource]="dataSource_HangHoaSX"
                                                                        [displayExpr]="'tenhanghoa'"
                                                                        [valueExpr]="'id'"
                                                                        [searchMode]="'contains'"
                                                                        [searchExpr]="['mahanghoa', 'tenhanghoa']"
                                                                        [searchTimeout]="500"
                                                                        [searchEnabled]="true"
                                                                        [minSearchLength]="0"
                                                                        (onSelectionChanged)="onHangHoaChanged(i, $event, 'sanxuat')"
                                                                        (onFocusIn)="dataSourceReload(i)"
                                                                        itemTemplate="item"
                                                                    >
                                                                        <div *dxTemplate="let data of 'item'">
                                                                            <div style="display: inline-block">
                                                                                {{ data.tenhanghoa }}, ({{ data.soluong_tonhientai }}, {{ data.soluong_tonduocxuat }})
                                                                            </div>
                                                                        </div>
                                                                    </dx-select-box>
                                                                </td>
                                                                <td>
                                                                    <dx-select-box
                                                                        [readOnly]="i != 0"
                                                                        id="khogiacong_row_{{ i }}"
                                                                        [(value)]="i != 0 ? hanghoas_sanxuat[0].khogiacong_id : item.khogiacong_id"
                                                                        [dataSource]="dataSource_KhoHang"
                                                                        [displayExpr]="'tenkhohang'"
                                                                        [valueExpr]="'id'"
                                                                        [searchMode]="'contains'"
                                                                        [searchExpr]="['makhohang', 'tenkhohang']"
                                                                        [searchTimeout]="500"
                                                                        [searchEnabled]="true"
                                                                        [minSearchLength]="0"
                                                                    >
                                                                    </dx-select-box>
                                                                </td>
                                                                <td>
                                                                    <dx-select-box
                                                                        [readOnly]="i != 0"
                                                                        id="khonhap_row_{{ i }}"
                                                                        [(value)]="i != 0 ? hanghoas_sanxuat[0].khonhap_id : item.khonhap_id"
                                                                        [dataSource]="dataSource_KhoHang"
                                                                        [displayExpr]="'tenkhohang'"
                                                                        [valueExpr]="'id'"
                                                                        [searchMode]="'contains'"
                                                                        [searchExpr]="['makhohang', 'tenkhohang']"
                                                                        [searchTimeout]="500"
                                                                        [searchEnabled]="true"
                                                                        [minSearchLength]="0"
                                                                    >
                                                                    </dx-select-box>
                                                                </td>
                                                                <td>
                                                                    <dx-tag-box
                                                                        id="yeucaus_row_{{ i }}"
                                                                        [(value)]="item.arr_yeucaus"
                                                                        [dataSource]="dataSource_GiaCong"
                                                                        valueExpr="id"
                                                                        displayExpr="tendinhmuc"
                                                                        applyValueMode="instantly"
                                                                        [searchExpr]="['madinhmuc', 'tendinhmuc']"
                                                                        [multiline]="false"
                                                                        [searchEnabled]="true"
                                                                        (onSelectionChanged)="onYeuCauChanged(i, $event)"
                                                                    >
                                                                    </dx-tag-box>
                                                                </td>

                                                                <td>
                                                                    <dx-select-box
                                                                        id="somat_row_{{ i }}"
                                                                        [(value)]="item.somat_id"
                                                                        [dataSource]="dataSource_SoMat"
                                                                        [displayExpr]="'tensomat'"
                                                                        [valueExpr]="'id'"
                                                                        [searchMode]="'contains'"
                                                                        [searchExpr]="['masomat', 'tensomat']"
                                                                        [searchTimeout]="500"
                                                                        [searchEnabled]="true"
                                                                        [minSearchLength]="0"
                                                                        (onSelectionChanged)="onSoMatYeuCauChanged(i, $event)"
                                                                    >
                                                                    </dx-select-box>
                                                                </td>
                                                                <td>
                                                                    <dx-select-box
                                                                        id="somat_row_{{ i }}"
                                                                        [(value)]="item.somat_thanhpham_id"
                                                                        [dataSource]="dataSource_SoMat"
                                                                        [displayExpr]="'tensomat'"
                                                                        [valueExpr]="'id'"
                                                                        [searchMode]="'contains'"
                                                                        [searchExpr]="['masomat', 'tensomat']"
                                                                        [searchTimeout]="500"
                                                                        [searchEnabled]="true"
                                                                        [minSearchLength]="0"
                                                                        (onSelectionChanged)="onSoMatThanhPhamChanged(i, $event)"
                                                                    >
                                                                    </dx-select-box>
                                                                </td>
                                                                <td>
                                                                    <dx-number-box
                                                                        [step]="0"
                                                                        format="#,##0.###"
                                                                        [(value)]="item.soluong"
                                                                        valueChangeEvent="input"
                                                                        (onValueChanged)="onHangHoaChangeRow('soluong', i, $event)"
                                                                    ></dx-number-box>
                                                                </td>
                                                                <td>
                                                                    <dx-number-box
                                                                        [step]="0"
                                                                        format="#,##0.###"
                                                                        [(value)]="item.dongia"
                                                                        valueChangeEvent="input"
                                                                        (onValueChanged)="onHangHoaChangeRow('dongia', i, $event)"
                                                                    ></dx-number-box>
                                                                </td>
                                                                <td>
                                                                    <dx-number-box
                                                                        format="#0.##%"
                                                                        [step]="0"
                                                                        [(value)]="item.chietkhau"
                                                                        valueChangeEvent="input"
                                                                        (onValueChanged)="onHangHoaChangeRow('chietkhau', i, $event)"
                                                                    ></dx-number-box>
                                                                </td>
                                                                <td>
                                                                    <dx-number-box
                                                                        format="#0.##%"
                                                                        [step]="0"
                                                                        [(value)]="item.thuevat"
                                                                        valueChangeEvent="input"
                                                                        (onValueChanged)="onHangHoaChangeRow('thuevat', i, $event)"
                                                                    ></dx-number-box>
                                                                </td>
                                                                <td>
                                                                    <dx-number-box [readOnly]="true" format="#,##0.###" [value]="item.thanhtien"></dx-number-box>
                                                                </td>
                                                               <td><dx-text-box [inputAttr]="{ autocomplete: 'on', name: 'chuthich'}" [(value)]="item.chuthich"></dx-text-box></td>
                                                                <td> {{ item.tenthanhpham }} </td>
                                                                <td><i class="gg-btn gg-remove" (click)="onHangHoaDelete(item, 'sanxuat')"></i></td>
                                                            </tr>
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <th [style.min-width.px]="25"></th>
                                                                <th [style.min-width.px]="250">TỔNG CỘNG:</th>
                                                                <th [style.min-width.px]="500"></th>
                                                                <th [style.min-width.px]="250"></th>
                                                                <th [style.min-width.px]="250"></th>
                                                                <th [style.min-width.px]="250"></th>
                                                                <th [style.min-width.px]="110"></th>
                                                                <th [style.min-width.px]="110"></th>
                                                                <th [style.min-width.px]="80">{{ this.sumTotal.transform(this.hanghoas_sanxuat, 'soluong') | number: '1.0-3' }}</th>
                                                                <th [style.min-width.px]="120"></th>
                                                                <th [style.min-width.px]="75"></th>
                                                                <th [style.min-width.px]="75"></th>
                                                                <th [style.min-width.px]="120">{{ this.sumTotal.transform(this.hanghoas_sanxuat, 'thanhtien') | number: '1.0-3' }}</th>
                                                                <th [style.min-width.px]="250"></th>
                                                                <th [style.min-width.px]="300"></th>
                                                                <th [style.max-width.px]="20">
                                                                    <i class="gg-btn gg-add btn-primary" (click)="onHangHoaAdd('sanxuat')"></i>
                                                                </th>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </mat-tab>
                                            <mat-tab label="THÀNH PHẨM"> </mat-tab>
                                        </mat-tab-group>
                                    </dxi-item>
                                    <dxi-item [colSpan]="6">
                                        <div *dxTemplate>
                                            <dx-button icon="back" [routerLink]="['/phieu-dat-hang']" text="Quay lại" [ngClass]="['float-right', 'btn-back']" type="normal"> </dx-button>
                                            <dx-button icon="save" text="Lưu lại" [ngClass]="'float-right'" type="success" [useSubmitBehavior]="true" [disabled]="saveProcessing"> </dx-button>
                                        </div>
                                    </dxi-item>
                                </dx-form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
