<div class="modal-header">
    <h6 class="modal-title pull-left">
        <b>{{ title }}</b>
    </h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <dx-data-grid
                id="gridContainer"
                [showBorders]="true"
                [showRowLines]="true"
                [hoverStateEnabled]="true"
                [stateStoring]="stateStoringGrid"
                [columnAutoWidth]="true"
                [columnResizingMode]="'widget'"
                [allowColumnResizing]="true"
                [allowColumnReordering]="true"
            >
                <dxi-column caption="STT" cellTemplate="cellTemplateSTT" alignment="center">
                    <div *dxTemplate="let data of 'cellTemplateSTT'">
                        {{ rowNumber(data.rowIndex) }}
                    </div>
                </dxi-column>

                <dxi-column dataField="malohang" caption="Số lô"></dxi-column>
                <dxi-column dataField="hansudung" dataType="date" caption="HSD"></dxi-column>
                <dxi-column dataField="ngaynhapkho" dataType="date" caption="Ngày nhập"></dxi-column>
                <dxi-column dataField="maphieu" caption="Mã phiếu"></dxi-column>

                <!-- dx-data-grid option -->
                <dxo-search-panel [visible]="true" [width]="300"></dxo-search-panel>
                <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                <dxo-column-chooser [enabled]="true" [allowSearch]="true"></dxo-column-chooser>
                <dxo-scrolling columnRenderingMode="virtual" [useNative]="true" class="dx-scrollable-customizable-scrollbars"></dxo-scrolling>
                <dxo-paging [pageSize]="10"></dxo-paging>
                <dxo-pager [showInfo]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 15, 20]" [showNavigationButtons]="true"> </dxo-pager>
            </dx-data-grid>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="onCancel()">{{ closeBtnName }}</button>
</div>
