<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/hang-hoa-hang-tron']">Hàng trơn</a></li>
                    <li class="breadcrumb-item active">Cập nhật</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title" [style.margin-bottom.px]="20">
                            <h5>{{ 'Hàng trơn' | uppercase }} - {{ 'Cập nhật' | uppercase }}</h5>
                        </div>
                        <div id="form-container">
                            <form (submit)="onSubmitForm($event)">
                                <dx-form id="form" [colCount]="6" [formData]="hanghoa" [showValidationSummary]="true" labelLocation="top" (onFieldDataChanged)="form_fieldDataChanged($event)">
                                    <dxi-item
                                        [colSpan]="2"
                                        [label]="{ text: 'TIÊU CHUẨN' }"
                                        dataField="tieuchuan_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{ dataSource: dataSource_TieuChuan, valueExpr: 'id', searchEnabled: true, displayExpr: 'tendanhmuctieuchuan' }"
                                    >
                                        <dxi-validation-rule type="required" message="Vui lòng chọn tiêu chuẩn"> </dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item
                                        [colSpan]="2"
                                        [label]="{ text: 'LOẠI HÀNG' }"
                                        dataField="loaihang_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{ showClearButton: true, dataSource: dataSource_LoaiHang, valueExpr: 'id', searchEnabled: true, displayExpr: 'tenloaihang' }"
                                    >
                                    </dxi-item>
                                    <dxi-item [colSpan]="2" [label]="{ text: 'NCC' }" dataField="ncc">
                                        <dxi-validation-rule type="required" message="Vui lòng nhập ncc"></dxi-validation-rule>
                                        <dxi-validation-rule type="pattern" [pattern]="'^\\S+$'" message="Mã không hợp lệ. Viết liền không dấu và không chứa kí tự đặc biệt."></dxi-validation-rule>
                                    </dxi-item>

                                    <dxi-item [label]="{ text: 'DÀY' }" dataField="day" editorType="dxNumberBox">
                                        <dxi-validation-rule type="required" message="Vui lòng nhập độ dày"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item [label]="{ text: 'RỘNG' }" dataField="rong" editorType="dxNumberBox">
                                        <dxi-validation-rule type="required" message="Vui lòng nhập độ rộng"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item [label]="{ text: 'DÀI' }" dataField="dai" editorType="dxNumberBox">
                                        <dxi-validation-rule type="required" message="Vui lòng nhập độ dài"></dxi-validation-rule>
                                    </dxi-item>

                                    <dxi-item
                                        [label]="{ text: 'ĐƠN VỊ TÍNH' }"
                                        dataField="dvt_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{ dataSource: dataSource_DonViTinh, valueExpr: 'id', searchEnabled: true, displayExpr: 'tendonvitinh' }"
                                    >
                                        <dxi-validation-rule type="required" message="Vui lòng chọn đơn vị tính"> </dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item
                                        [label]="{ text: 'ĐƠN VỊ TÍNH 1' }"
                                        dataField="dvt1_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{ dataSource: dataSource_DonViTinh, valueExpr: 'id', searchEnabled: true, displayExpr: 'tendonvitinh' }"
                                    >
                                        <!-- <dxi-validation-rule type="required" message="Vui lòng chọn đơn vị tính 1"></dxi-validation-rule> -->
                                    </dxi-item>
                                    <dxi-item [label]="{ text: 'QUY ĐỔI' }" dataField="quydoi1" editorType="dxNumberBox">
                                        <dxi-validation-rule type="custom" message="Quy đổi phải lớn hơn 0" [validationCallback]="checkQuyDoi"></dxi-validation-rule>
                                    </dxi-item>

                                    <dxi-item [colSpan]="2" [label]="{ text: 'MÃ HÀNG TRƠN' }" dataField="mahanghoa" [editorOptions]="{ readOnly: true }">
                                        <dxi-validation-rule type="required" message="Nhập mã hàng trơn"> </dxi-validation-rule>
                                        <dxi-validation-rule type="stringLength" [min]="2" message="Mã hàng trơn quá ngắn"></dxi-validation-rule>
                                        <dxi-validation-rule type="async" message="Mã đã tồn tại" [validationCallback]="theCallbackValid"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item [colSpan]="2" [label]="{ text: 'TÊN HÀNG TRƠN' }" dataField="tenhanghoa" [editorOptions]="{ readOnly: true }">
                                        <dxi-validation-rule type="required" message="Nhập tên hàng trơn"> </dxi-validation-rule>
                                        <dxi-validation-rule type="stringLength" [min]="2" message="Tên hàng trơn quá ngắn"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item [label]="{ text: 'M³/TẤM' }" dataField="m3" editorType="dxNumberBox" [editorOptions]="{ readOnly: true }"></dxi-item>
                                    <dxi-item [label]="{ text: 'ĐƠN GIÁ' }" dataField="gianhap" editorType="dxNumberBox"> </dxi-item>
                                    <dxi-item [label]="{ text: 'ĐỊNH MỨC TỒN' }" dataField="dinhmucton" editorType="dxNumberBox"></dxi-item>
                                    <dxi-item [label]="{ text: 'TRỌNG LƯỢNG' }" dataField="trongluong" editorType="dxNumberBox"></dxi-item>

                                    <dxi-item [label]="{ text: 'GHI CHÚ' }" dataField="ghichu" [colSpan]="4"></dxi-item>
                                    <!-- editorType="dxTextArea" -->
                                    <dxi-item [colSpan]="3" [label]="{ text: 'TRẠNG THÁI' }" dataField="kichhoat" editorType="dxCheckBox" [editorOptions]="{ text: 'Kích hoạt' }"></dxi-item>

                                    <dxi-item [colSpan]="3">
                                        <div *dxTemplate>
                                            <dx-button icon="back" [routerLink]="['/hang-hoa-hang-tron']" text="Quay lại" [ngClass]="['float-right', 'btn-back']" type="normal"> </dx-button>
                                            <dx-button icon="save" text="Lưu lại" [ngClass]="'float-right'" type="success" [useSubmitBehavior]="true" [disabled]="saveProcessing"> </dx-button>
                                        </div>
                                    </dxi-item>
                                </dx-form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
