<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Thống kê tình hình sản xuất</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'Thống kê tình hình sản xuất' | uppercase }}</h5>
                        <p class="card-text"></p>

                        <div class="row">
                            <div class="col-md-12">
                                <dx-date-box [style.width.px]="200" type="date" [(value)]="firstDayTime"></dx-date-box>
                                <dx-date-box [style.width.px]="200" [style.margin-left.px]="5" type="date" [(value)]="currDayTime"></dx-date-box>
                                <button [style.margin-left.px]="5" class="btn btn-sm btn-success" (click)="onLoadData()">Tải lại</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <dx-data-grid
                                    id="gridContainer"
                                    [showBorders]="true"
                                    [showRowLines]="true"
                                    [hoverStateEnabled]="true"
                                    [columnAutoWidth]="true"
                                    [columnResizingMode]="'widget'"
                                    [allowColumnResizing]="true"
                                    [allowColumnReordering]="true"
                                    [stateStoring]="stateStoringGrid"
                                >
                                    <dxo-selection mode="single"></dxo-selection>
                                    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                                    <dxo-export [enabled]="enableExport" [fileName]="exportFileName"></dxo-export>

                                    <!-- dx-data-grid option -->
                                    <dxo-search-panel [visible]="true" [width]="300"></dxo-search-panel>
                                    <dxo-column-chooser [enabled]="true" [allowSearch]="true"></dxo-column-chooser>
                                    <dxo-scrolling columnRenderingMode="virtual" [useNative]="true" class="dx-scrollable-customizable-scrollbars"></dxo-scrolling>
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-pager [showInfo]="true" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 15, 20]" [showNavigationButtons]="true"> </dxo-pager>

                                    <dxi-column caption="STT" cellTemplate="cellTemplateSTT" alignment="center">
                                        <div *dxTemplate="let data of 'cellTemplateSTT'">
                                            {{ rowNumber(data.rowIndex) }}
                                        </div>
                                    </dxi-column>
                                    
                                    <dxi-column dataField="ngaydathang" caption="Ngày đặt" dataType="date"></dxi-column>
                                    <dxi-column dataField="maphieudathang" caption="Mã phiếu"></dxi-column>
                                    <dxi-column dataField="tenthanhpham" caption="Thành phẩm"></dxi-column>
                                    <dxi-column dataField="khachhang_id" caption="Khách hàng_id"></dxi-column>
                                    <dxi-column dataField="tenkhachhang" caption="Khách hàng"></dxi-column>
                                    <dxi-column dataField="nhanviensale" caption="Nhân viên"></dxi-column>

                                    <dxi-column dataField="soluongdat" caption="SL đặt" alignment="right" format="#,##0.###"></dxi-column>
                                    <dxi-column dataField="soluongdayeucau" caption="SL đã y/c" alignment="right" format="#,##0.###"></dxi-column>
                                    <dxi-column dataField="soluongchuayeucau" caption="SL chưa y/c" alignment="right" format="#,##0.###"></dxi-column>
                                    <dxi-column dataField="soluongdanhap" caption="SL đã SX" alignment="right" format="#,##0.###"></dxi-column>
                                    <dxi-column dataField="soluongchuasx" caption="SL chưa SX" alignment="right" format="#,##0.###"></dxi-column>

                                    <dxi-column dataField="ngaynhanhang" caption="Ngày nhận" dataType="date" alignment="center"></dxi-column>
                                    <dxi-column dataField="trangthaisx" caption="Trạng thái"></dxi-column>
                                    <dxi-column dataField="khogiacong" caption="Kho sản xuất"></dxi-column>

                                    <!-- Thêm trang tổng cộng cuối form -->
                                    <dxo-summary>
                                        <dxi-total-item column="maphieudathang" summaryType="count" displayFormat="TỔNG CỘNG: {0}"> </dxi-total-item>
                                        <dxi-total-item column="soluongdat" summaryType="sum" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                        <dxi-total-item column="soluongdayeucau" summaryType="sum" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                        <dxi-total-item column="soluongchuayeucau" summaryType="sum" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                        <dxi-total-item column="soluongdanhap" summaryType="sum" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                        <dxi-total-item column="soluongchuasx" summaryType="sum" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                    </dxo-summary>

                                    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                                    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
