<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Lệnh vay</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'Lệnh vay' | uppercase }} - DANH SÁCH</h5>
                        <p class="card-text"></p>

                        <div class="row">
                            <div class="col-md-12">
                                <dx-date-box [style.width.px]="200" type="datetime" [(value)]="firstDayTime"></dx-date-box>
                                <dx-date-box [style.width.px]="200" [style.margin-left.px]="5" type="datetime" [(value)]="currDayTime"></dx-date-box>

                                <button [style.margin-left.px]="5" class="btn btn-sm btn-success" (click)="onLoadData()">Tải lại</button>
                                <button [style.margin-left.px]="5" class="btn btn-sm btn-primary" [routerLink]="['/lenh-vay/them-moi']">Thêm mới</button>
                            </div>
                        </div>

                        <dx-data-grid
                            id="gridContainer"
                            [showBorders]="true"
                            [showRowLines]="true"
                            [hoverStateEnabled]="true"
                            [columnAutoWidth]="true"
                            [columnResizingMode]="'widget'"
                            [allowColumnResizing]="true"
                [allowColumnReordering]="true"
                            [stateStoring]="stateStoringGrid"
                            (onRowDblClick)="onRowDblClick($event)"
                        >
                            <!-- dx-data-grid column -->
                            <dxi-column width="80" dataField="id" caption="Thao tác" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate">
                                <div *dxTemplate="let data of 'cellTemplate'">
                                    <a [routerLink]="['/lenh-vay/' + data.value + '/cap-nhat']">Sửa</a> |
                                    <a href="javascript:void(0)" (click)="onRowDelete(data.value)">Xóa</a>
                                </div>
                            </dxi-column>

                            <dxi-column dataField="ngayvay" dataType="datetime" caption="Ngày vay"></dxi-column>
                            <dxi-column dataField="malenhvay" caption="Mã lệnh"></dxi-column>
                            <dxi-column dataField="sotienvay" caption="Số tiền vay" format="#,##0.###"></dxi-column>
                            <dxi-column dataField="laixuat" caption="Lãi suất" format="#0%"></dxi-column>
                            <dxi-column dataField="tenquynhan" caption="Quỹ nhận"></dxi-column>
                            <dxi-column dataField="ngayhethan" caption="Ngày hết hạn" dataType="datetime"></dxi-column>

                            <!-- <dxi-column dataField="kichhoat" caption="Trạng thái" cellTemplate="cellTemplateTrangThai">
                                <div *dxTemplate="let data of 'cellTemplateTrangThai'">
                                    <span class="text-green" *ngIf="data.value == true">Kích hoạt</span>
                                    <span class="text-red" *ngIf="data.value != true">Ngưng sử dụng</span>
                                </div>
                            </dxi-column> -->
                            <dxi-column dataField="ghichu" caption="Ghi chú"></dxi-column>

                            <dxi-column dataField="nguoitao_hoten" caption="Người tạo"></dxi-column>
                            <dxi-column dataField="thoigiantao" dataType="datetime" caption="Ngày tạo"></dxi-column>
                            <dxi-column dataField="nguoisua_hoten" caption="Người sửa"></dxi-column>
                            <dxi-column dataField="thoigiansua" dataType="datetime" caption="Ngày sửa"></dxi-column>

                            <dxo-summary>
                                <dxi-total-item column="malenhvay" summaryType="count"> </dxi-total-item>

                                <dxi-total-item column="sotienvay" summaryType="sum" valueFormat="#,##0"> </dxi-total-item>
                            </dxo-summary>

                            <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                            <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>

                            <!-- dx-data-grid option -->
                            <dxo-search-panel [visible]="true"></dxo-search-panel>
                            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                            <dxo-scrolling columnRenderingMode="virtual" [useNative]="true" class="dx-scrollable-customizable-scrollbars"></dxo-scrolling>
                            <dxo-paging [pageSize]="10"></dxo-paging>
                            <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20]" [showNavigationButtons]="true">
                            </dxo-pager>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
