<div class="modal-header">
    <h6 class="modal-title pull-left">
        <b>{{ title }}</b>
    </h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div id="form-container">
                <!-- (submit)="onSubmitForm($event)" -->
                <form>
                    <dx-form id="form" [colCount]="6" [formData]="phieunhapkho" [showValidationSummary]="true" labelLocation="top"
                        ><!-- (onFieldDataChanged)="onFormFieldChanged($event)" -->
                        <dxi-item [label]="{ text: 'NGÀY NHẬP KHO' }" dataField="ngaynhapkho" editorType="dxDateBox" [editorOptions]="{ type: 'date', readOnly: true }">
                            <dxi-validation-rule type="required" message="Chọn ngày nhập kho"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item
                            [colSpan]="4"
                            [label]="{ text: 'KHO NHẬP' }"
                            dataField="khonhap_id"
                            editorType="dxSelectBox"
                            [editorOptions]="{
                                dataSource: dataSource_KhoNhap,
                                valueExpr: 'id',
                                searchEnabled: true,
                                searchExpr: ['tenkhohang', 'makhohang'],
                                displayExpr: 'tenkhohang',
                                readOnly: true
                            }"
                        >
                            <dxi-validation-rule type="required" message="Vui lòng chọn kho nhập"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item [label]="{ text: 'SỐ HOÁ ĐƠN' }" dataField="chungtu" [editorOptions]="{ readOnly: true }"> </dxi-item>

                        <dxi-item [label]="{ text: 'MÃ PHIẾU' }" dataField="maphieunhapkho" [editorOptions]="{ readOnly: true, placeholder: 'MÃ TẠO TỰ ĐỘNG' }"></dxi-item>
                        <dxi-item [label]="{ text: 'NGƯỜI GIAO' }" [colSpan]="5" dataField="nguoigiao_hoten" [editorOptions]="{ readOnly: true }"> </dxi-item>

                        <dxi-item [label]="{ text: 'TỪ PHIẾU' }" dataField="tumaphieu" [editorOptions]="{ readOnly: true, placeholder: 'CHỌN TỪ PHIẾU' }"></dxi-item>
                        <dxi-item [label]="{ text: 'LÝ DO NHẬP' }" dataField="ghichu" [colSpan]="5" [editorOptions]="{ readOnly: true }"></dxi-item>

                        <dxi-item [colSpan]="6">
                            <div class="table-responsive">
                                <table class="table table-vertical table-hover mt-4">
                                    <thead>
                                        <tr>
                                            <th [style.min-width.px]="25">STT</th>
                                            <th [style.min-width.px]="350">TÊN HÀNG</th>
                                            <th [style.min-width.px]="250">MÃ HÀNG</th>
                                            <th [style.min-width.px]="75">ĐVT</th>
                                            <th [style.min-width.px]="75">KIỆN</th>
                                            <th [style.min-width.px]="75">KL</th>
                                            <th [style.min-width.px]="80">SL</th>
                                            <!-- <th [style.min-width.px]="80">SL HỎNG</th>
                                            <th [style.min-width.px]="80">KHO NHẬP HỎNG</th> -->

                                            <th [style.min-width.px]="150">GHI CHÚ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of hanghoas; index as i">
                                            <td>{{ i + 1 }}</td>
                                            <td hidden>
                                                <!--  -->
                                                <dx-select-box
                                                    id="hanghoa_row_{{ i }}"
                                                    [(value)]="item.hanghoa_id"
                                                    [dataSource]="dataSource_HangHoa"
                                                    [displayExpr]="'tenhanghoa'"
                                                    [valueExpr]="'id'"
                                                    [searchMode]="'contains'"
                                                    [searchExpr]="['mahanghoa', 'tenhanghoa']"
                                                    [searchTimeout]="500"
                                                    [searchEnabled]="true"
                                                    [minSearchLength]="0"
                                                    [readOnly]="true"
                                                    (onSelectionChanged)="onHangHoaChanged(i, $event)"
                                                    itemTemplate="item"
                                                >
                                                    <div *dxTemplate="let data of 'item'">
                                                        <div style="display: inline-block">{{ data.tenhanghoa }}, ({{ data.soluong_tonhientai }}, {{ data.soluong_tonduocxuat }})</div>
                                                    </div>
                                                </dx-select-box>
                                            </td>
                                            <td>{{ item.tenhanghoa }}</td>
                                            <td>{{ item.mahanghoa }}</td>
                                            <td>{{ item.tendonvitinh }}</td>

                                            <td>{{ item.tendonvitinhphu ? (item.soluong / item.tilequydoiphu | number: '1.0-3') : '' }}</td>
                                            <td>{{ item.soluong * item.trongluong | number: '1.0-3' }}</td>

                                            <td>
                                                <!-- (onValueChanged)="onHangHoaChangeRow('soluong', i, $event)" -->
                                                <!-- <dx-number-box format="#,##0.###" [readOnly]="true" [(value)]="item.soluong"></dx-number-box> -->
                                                {{ item.soluong }}
                                            </td>
                                            <!-- <td>
                                                <dx-number-box
                                                    [max]="item.soluong"
                                                    format="#,##0.###"
                                                    [(value)]="item.soluonghong"
                                                    (onValueChanged)="onHangHoaChangeRow('soluonghong', i, $event)"
                                                ></dx-number-box>
                                            </td>
                                            <td>
                                                <dx-select-box
                                                    id="khonhaphong_row_{{ i }}"
                                                    [(value)]="item.khonhaphong_id"
                                                    [dataSource]="dataSource_KhoNhap"
                                                    [displayExpr]="'tenkhohang'"
                                                    [valueExpr]="'id'"
                                                    [searchMode]="'contains'"
                                                    [searchExpr]="['makhohang', 'tenkhohang']"
                                                    [searchTimeout]="500"
                                                    [searchEnabled]="true"
                                                    [minSearchLength]="0"
                                                    [readOnly]="item.soluonghong == 0"
                                                >
                                                    <dxi-validation-rule type="required" message="Country is required"> </dxi-validation-rule>
                                                </dx-select-box>
                                            </td> -->

                                            <td>
                                                <!-- <dx-text-box value="ghi chú" [readOnly]="true" [(value)]="item.chuthich"></dx-text-box> -->
                                                {{ item.chuthich }}
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th [style.min-width.px]="25"></th>
                                            <th [style.min-width.px]="350">TỔNG CỘNG:</th>
                                            <th [style.min-width.px]="250"></th>
                                            <th [style.min-width.px]="75"></th>
                                            <th [style.min-width.px]="75">{{ this.sumTotal.transform(this.hanghoas, 'tongkien') | number: '1.0-3' }}</th>
                                            <th [style.min-width.px]="75">{{ this.sumTotal.transform(this.hanghoas, 'tongtrongluong') | number: '1.0-3' }}</th>
                                            <th [style.min-width.px]="80">{{ this.sumTotal.transform(this.hanghoas, 'soluong') | number: '1.0-3' }}</th>
                                            <!-- <th [style.min-width.px]="80">SL HỎNG</th>
                                            <th [style.min-width.px]="80">KHO NHẬP HỎNG</th> -->

                                            <th [style.min-width.px]="150"></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </dxi-item>

                        <!-- <dxi-item
                            [colSpan]="4"
                            [label]="{ text: 'TRẠNG THÁI' }"
                            dataField="kichhoat"
                            editorType="dxCheckBox"
                            [editorOptions]="{ text: 'Kích hoạt', readOnly: true }"
                        ></dxi-item> -->

                        <!-- đóng lại -->
                        <!-- <dxi-item [colSpan]="2">
                            <div *dxTemplate>
                                <dx-button icon="back" [routerLink]="['/phieu-nhap-kho']" text="Quay lại" [ngClass]="['float-right', 'btn-back']" type="normal"> </dx-button>
                                <dx-button icon="save" text="Lưu lại" [ngClass]="'float-right'" type="success" [useSubmitBehavior]="true" [disabled]="saveProcessing"> </dx-button>
                            </div>
                        </dxi-item> -->
                    </dx-form>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="onCancel()">{{ closeBtnName }}</button>
</div>
