<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/don-vi-gia-cong']">Đơn vị gia công</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title" [style.margin-bottom.px]="20">
                            <h5>ĐƠN VỊ GIA CÔNG - THÊM MỚI</h5>
                        </div>
                        <div id="form-container">
                            <form (submit)="onSubmitForm($event)">
                                <dx-form id="form" [colCount]="2" [formData]="donvigiacong" [showValidationSummary]="true" (onFieldDataChanged)="onFormFieldChanged($event)">
                                    <dxi-item [label]="{ text: 'MÃ ĐƠN VỊ GIA CÔNG' }" dataField="madonvigiacong">
                                        <dxi-validation-rule type="required" message="Nhập mã đơn vị gia công"> </dxi-validation-rule>
                                        <dxi-validation-rule type="stringLength" [min]="2" message="Mã đơn vị gia công quá ngắn"></dxi-validation-rule>
                                        <dxi-validation-rule type="async" message="Mã đã tồn tại" [validationCallback]="theCallbackValid"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item [label]="{ text: 'TÊN ĐƠN VỊ GIA CÔNG' }" dataField="tendonvigiacong">
                                        <dxi-validation-rule type="required" message="Nhập tên đơn vị gia công"> </dxi-validation-rule>
                                        <dxi-validation-rule type="stringLength" [min]="2" message="Tên đơn vị gia công quá ngắn"></dxi-validation-rule>
                                    </dxi-item>

                                    <dxi-item [label]="{ text: 'SĐT' }" dataField="sodienthoai"></dxi-item>
                                    <!-- <dxi-item [label]="{text: 'EMAIL'}" dataField="email"></dxi-item> -->
                                    <dxi-item [label]="{ text: 'MÃ SỐ THUẾ' }" dataField="masothue"></dxi-item>

                                    <dxi-item [label]="{ text: 'SỐ TÀI KHOẢN' }" dataField="sotaikhoan"></dxi-item>
                                    <dxi-item [label]="{ text: 'NGÂN HÀNG' }" dataField="tennganhang"></dxi-item>
                                    <dxi-item [label]="{ text: 'CHỦ TÀI KHOẢN' }" dataField="tenchutaikhoan"></dxi-item>

                                    <dxi-item [label]="{ text: 'ĐỊA CHỈ' }" dataField="diachi" [colSpan]="2"></dxi-item>
                                    <dxi-item [label]="{ text: 'GHI CHÚ' }" dataField="ghichu" editorType="dxTextArea" [colSpan]="2"></dxi-item>

                                    <dxi-item [label]="{ text: 'ĐƠN VỊ' }" dataField="loaidonvi" editorType="dxCheckBox" [editorOptions]="{ text: 'Gia công ngoài' }"></dxi-item>
                                    <dxi-item
                                        [label]="{ text: 'KHO GIA CÔNG' }"
                                        dataField="khogiacong_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{ dataSource: dataSource_KhoHang, valueExpr: 'id', searchEnabled: true, displayExpr: 'tenkhohang' }"
                                    >
                                        <dxi-validation-rule type="required" message="Vui lòng chọn kho gia công"> </dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item [label]="{ text: 'TRẠNG THÁI' }" dataField="kichhoat" editorType="dxCheckBox" [editorOptions]="{ text: 'Kích hoạt' }"></dxi-item>

                                    <dxi-item [editorOptions]="{ disabled: saveProcessing }" itemType="button" horizontalAlignment="right" [buttonOptions]="buttonSubmitOptions"> </dxi-item>
                                </dx-form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
