<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/phieu-xuat-kho-gia-cong']">Phiếu xuất kho gia công</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title" [style.margin-bottom.px]="20" [style.width]="'100%'">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>{{ 'Phiếu xuất kho gia công' | uppercase }} - THÊM MỚI</h5>
                                </div>
                            </div>
                        </div>

                        <div id="form-container">
                            <form (submit)="onSubmitForm($event)">
                                <dx-form id="form" [colCount]="6" [formData]="phieuxuatkhogiacong" [showValidationSummary]="true" labelLocation="top" (onFieldDataChanged)="onFormFieldChanged($event)">
                                    <dxi-item [label]="{ text: 'NGÀY XUẤT KHO' }" dataField="ngayxuatkhogiacong" editorType="dxDateBox" [editorOptions]="{ type: 'datetime' }">
                                        <dxi-validation-rule type="required" message="Chọn ngày xuất kho"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item
                                        [colSpan]="2"
                                        [label]="{ text: 'TÀI XẾ' }"
                                        dataField="taixe_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{ dataSource: dataSource_TaiXe, valueExpr: 'id', searchEnabled: true, displayExpr: 'tentaixe' }"
                                    >
                                    </dxi-item>
                                    <dxi-item
                                        [colSpan]="2"
                                        [label]="{ text: 'XE' }"
                                        dataField="xe_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{ dataSource: dataSource_Xe, valueExpr: 'id', searchEnabled: true, displayExpr: 'biensoxe' }"
                                    >
                                    </dxi-item>
                                    <dxi-item [label]="{ text: 'TÀI XẾ - ĐIỆN THOẠI' }" dataField="taixe_dienthoai"> </dxi-item>

                                    <dxi-item
                                        [label]="{ text: 'MÃ PHIẾU' }"
                                        dataField="maphieuxuatkhogiacong"
                                        [editorOptions]="{ readOnly: true, placeholder: 'MÃ TẠO TỰ ĐỘNG' }"
                                    ></dxi-item>
                                    <dxi-item [label]="{ text: 'NGƯỜI NHẬN' }" [colSpan]="2" dataField="nguoinhan_hoten"> </dxi-item>
                                    <dxi-item [label]="{ text: 'ĐỊA CHỈ' }" [colSpan]="2" dataField="nguoinhan_diachi"> </dxi-item>
                                    <dxi-item [label]="{ text: 'ĐIỆN THOẠI' }" dataField="nguoinhan_dienthoai"> </dxi-item>
                                    
                                    <dxi-item [label]="{ text: 'LÝ DO XUẤT' }" dataField="ghichu" [colSpan]="3"></dxi-item>
                                    <dxi-item
                                        [label]="{ text: 'ĐƠN VỊ GIA CÔNG' }"
                                        dataField="donvigiacong_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{ showClearButton: true, dataSource: dataSource_DonViGiaCong, valueExpr: 'id', searchEnabled: true, displayExpr: 'tendonvigiacong' }"
                                    >
                                    </dxi-item>

                                    <dxi-item
                                        [label]="{ text: 'KHO GIA CÔNG' }"
                                        dataField="khogiacong_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{ dataSource: dataSource_KhoHang, valueExpr: 'id', searchEnabled: true, displayExpr: 'tenkhohang', readOnly: phieuxuatkhogiacong.donvigiacong_id }"
                                    >
                                        <dxi-validation-rule type="required" message="Vui lòng chọn kho gia công"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item
                                        [label]="{ text: 'KHO XUẤT' }"
                                        dataField="khoxuat_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{ dataSource: dataSource_KhoHang, valueExpr: 'id', searchEnabled: true, displayExpr: 'tenkhohang' }"
                                    >
                                        <dxi-validation-rule type="required" message="Vui lòng chọn kho xuất"></dxi-validation-rule>
                                    </dxi-item>

                                    <dxi-item [colSpan]="6">
                                        <div class="table-responsive">
                                            <table class="table table-vertical table-hover mt-4">
                                                <thead>
                                                    <tr>
                                                        <th [style.min-width.px]="250">HÀNG HOÁ</th>
                                                        <th [style.min-width.px]="75">ĐVT</th>
                                                        <th [style.min-width.px]="75">ĐVT1</th>
                                                        <th [style.min-width.px]="75">KL</th>
                                                        <th [style.min-width.px]="80">SL</th>
                                                        <th [style.min-width.px]="250">GHI CHÚ</th>
                                                        <th [style.max-width.px]="20">
                                                            <i class="gg-btn gg-add btn-primary" (click)="onHangHoaAdd()"></i>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of hanghoas; index as i">
                                                        <td>
                                                            <dx-select-box
                                                                id="hanghoa_row_{{ i }}"
                                                                [(value)]="item.hanghoa_id"
                                                                [dataSource]="dataSource_HangHoa"
                                                                [displayExpr]="displayExprHangHoa"
                                                                [valueExpr]="'id'"
                                                                [searchMode]="'contains'"
                                                                [searchExpr]="['mahanghoa', 'tenhanghoa']"
                                                                [searchTimeout]="500"
                                                                [searchEnabled]="true"
                                                                [minSearchLength]="0"
                                                                (onSelectionChanged)="onHangHoaChanged(i, $event)"
                                                                itemTemplate="item"
                                                            >
                                                                <div *dxTemplate="let data of 'item'">
                                                                    <div style="display: inline-block">{{ data.tenhanghoa }}, ({{ data.soluong_tonhientai }}, {{ data.soluong_tonduocxuat }})</div>
                                                                </div>
                                                            </dx-select-box>
                                                        </td>
                                                        
                                                        <td>{{ item.soluong | number: '1.0-3' }} {{ item.tendonvitinh }}</td>
                                                        <td>{{ item.soluong / item.tilequydoiphu | number: '1.0-3' }} {{ item.tendonvitinhphu }}</td>
                                                        <td>{{ item.soluong * item.trongluong | number: '1.0-3' }} kg</td>

                                                        <td>
                                                            <dx-number-box format="#,##0.###" [(value)]="item.soluong" (onValueChanged)="onHangHoaChangeRow('soluong', i, $event)"></dx-number-box>
                                                        </td>
                                                        <td><dx-text-box [(value)]="item.chuthich"></dx-text-box></td>
                                                        <td><i class="gg-btn gg-remove" (click)="onHangHoaDelete(item)"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </dxi-item>

                                    <dxi-item
                                        [colSpan]="4"
                                        [label]="{ text: 'TRẠNG THÁI' }"
                                        dataField="kichhoat"
                                        editorType="dxCheckBox"
                                        [editorOptions]="{ text: 'Kích hoạt', readOnly: true }"
                                    ></dxi-item>
                                    <dxi-item [colSpan]="2" [editorOptions]="{ disabled: saveProcessing }" itemType="button" horizontalAlignment="right" [buttonOptions]="buttonSubmitOptions">
                                    </dxi-item>
                                </dx-form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
