<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/quy-tai-khoan']">Quỹ tài khoản</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title" [style.margin-bottom.px]="20">
                            <h5>{{ 'Quỹ tài khoản' | uppercase }} - {{ 'Thêm mới' | uppercase }}</h5>
                        </div>
                        <div id="form-container">
                            <form (submit)="onSubmitForm($event)">
                                <dx-form id="form" [colCount]="2" [formData]="quytaikhoan" [showValidationSummary]="true">
                                    <dxi-item [label]="{ text: 'MÃ QUỸ' }" dataField="maquy">
                                        <dxi-validation-rule type="required" message="Nhập mã quỹ"></dxi-validation-rule>
                                        <dxi-validation-rule type="stringLength" [min]="2" message="Mã quỹ quá ngắn"></dxi-validation-rule>
                                        <dxi-validation-rule type="pattern" [pattern]="'^[a-zA-Z0-9]*$'" message="Mã không hợp lệ. Viết liền không dấu và không chứa kí tự đặc biệt."></dxi-validation-rule>
                                        <dxi-validation-rule type="async" message="Mã đã tồn tại" [validationCallback]="theCallbackValid"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item [label]="{ text: 'TÊN CTY' }" dataField="tencongty"></dxi-item>
                                    <dxi-item [label]="{ text: 'TÊN QUỸ' }" dataField="tenquy">
                                        <dxi-validation-rule type="required" message="Nhập tên quỹ"></dxi-validation-rule>
                                        <dxi-validation-rule type="stringLength" [min]="2" message="Tên quỹ quá ngắn"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item [label]="{ text: 'MÃ SỐ THUẾ' }" dataField="masothue"></dxi-item>
                                    <dxi-item [label]="{ text: 'SỐ TÀI KHOẢN' }" dataField="sotaikhoan"></dxi-item>
                                    <dxi-item [label]="{ text: 'ĐIỆN THOẠI' }" dataField="dienthoai"></dxi-item>
                                    <dxi-item [label]="{ text: 'TẠI NGÂN HÀNG' }" dataField="tainganhang"></dxi-item>
                                    <dxi-item [label]="{ text: 'FAX' }" dataField="fax"></dxi-item>
                                    <dxi-item [label]="{ text: 'NGƯỜI ĐẠI DIỆN' }" dataField="nguoidaidien"></dxi-item>
                                    <dxi-item [label]="{ text: 'CHỨC VỤ' }" dataField="chucvu"></dxi-item>
                                    <dxi-item [label]="{ text: 'ĐỊA CHỈ' }" dataField="diachi" [colSpan]="2"></dxi-item>

                                    <dxi-item [label]="{ text: 'GHI CHÚ' }" dataField="ghichu" editorType="dxTextArea" [colSpan]="2"></dxi-item>
                                    <dxi-item [label]="{ text: 'TRẠNG THÁI' }" dataField="kichhoat" editorType="dxCheckBox" [editorOptions]="{ text: 'Kích hoạt' }"></dxi-item>

                                    <dxi-item>
                                        <div *dxTemplate>
                                            <dx-button icon="back" [routerLink]="['/quy-tai-khoan']" text="Quay lại" [ngClass]="['float-right', 'btn-back']" type="normal"> </dx-button>
                                            <dx-button icon="save" text="Lưu lại" [ngClass]="'float-right'" type="success" [useSubmitBehavior]="true" [disabled]="saveProcessing"> </dx-button>
                                        </div>
                                    </dxi-item>
                                </dx-form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
