<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/phieu-dat-hang-ncc']">Phiếu đặt hàng ncc</a></li>
                    <li class="breadcrumb-item active">Cập nhật</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title" [style.margin-bottom.px]="20">
                            <h5>{{ 'Phiếu đặt hàng ncc' | uppercase }} - {{ 'Cập nhật' | uppercase }}</h5>
                        </div>
                        <div id="form-container">
                            <form (submit)="onSubmitForm($event)">
                                <dx-form id="form" [colCount]="6" [formData]="phieudathangncc" [showValidationSummary]="true" labelLocation="top" (onFieldDataChanged)="onFormFieldChanged($event)">
                                    <dxi-item [label]="{ text: 'NGÀY ĐẶT HÀNG' }" dataField="ngaydathangncc" editorType="dxDateBox" [editorOptions]="{ type: 'datetime', readOnly: true }">
                                        <dxi-validation-rule type="required" message="Chọn ngày đặt hàng"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item
                                        [colSpan]="2"
                                        [label]="{ text: 'NHÀ CUNG CẤP' }"
                                        dataField="nhacungcap_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{ dataSource: dataSource_NhaCungCap, valueExpr: 'id', searchEnabled: true, searchExpr: ['tennhacungcap', 'manhacungcap'], displayExpr: 'tennhacungcap', readOnly: true }"
                                    >
                                        <dxi-validation-rule type="required" message="Vui lòng chọn nhà cung cấp"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item [label]="{ text: 'ĐIỆN THOẠI' }" dataField="dienthoainhacungcap" [editorOptions]="{ readOnly: true }"> </dxi-item>
                                    <dxi-item [label]="{ text: 'NỢ CŨ' }" editorType="dxNumberBox" dataField="nocu" [editorOptions]="{ readOnly: true, format: '#,##0.###' }"> </dxi-item>
                                    <dxi-item [label]="{ text: 'TIỀN HÀNG' }" editorType="dxNumberBox" dataField="tongtienhang" [editorOptions]="{ readOnly: true, format: '#,##0.###' }"> </dxi-item>

                                    <dxi-item [label]="{ text: 'NGÀY NHẬN HÀNG' }" dataField="ngaynhanhang_dukien" editorType="dxDateBox" [editorOptions]="{ readOnly: isTatToan, type: 'datetime' }">
                                    </dxi-item>
                                    <dxi-item [label]="{ text: 'ĐỊA CHỈ' }" [colSpan]="4" dataField="diachinhacungcap" [editorOptions]="{ readOnly: true }"> </dxi-item>
                                    <dxi-item [label]="{ text: 'CK' }" dataField="chietkhau" [editorOptions]="{ format: '#0%', step: '0.01', readOnly: isTatToan }"> </dxi-item>

                                    <dxi-item [label]="{ text: 'MÃ PHIẾU' }" dataField="maphieudathangncc" [editorOptions]="{ readOnly: true }"></dxi-item>
                                    <dxi-item [label]="{ text: 'ĐỊA CHỈ GIAO' }" dataField="diachi_giaohang" [colSpan]="2" [editorOptions]="{ readOnly: isTatToan }"></dxi-item>

                                    <dxi-item [label]="{ text: 'ĐK THANH TOÁN' }" dataField="dieukien_thanhtoan" [colSpan]="2" [editorOptions]="{ readOnly: isTatToan }"></dxi-item>
                                    <dxi-item [label]="{ text: 'VAT' }" dataField="thuevat" [editorOptions]="{ format: '#0%', step: '0.01', readOnly: isTatToan }"> </dxi-item>

                                    <dxi-item [label]="{ text: 'GHI CHÚ' }" dataField="ghichu" [colSpan]="5"></dxi-item>
                                    <dxi-item [label]="{ text: 'TỔNG TIỀN' }" editorType="dxNumberBox" dataField="tongthanhtien" [editorOptions]="{ readOnly: true, format: '#,##0.###' }"> </dxi-item>

                                    <dxi-item [colSpan]="6" *ngIf="isValidForm">
                                        <div class="table-responsive">
                                            <table class="table table-vertical table-hover mt-4">
                                                <thead>
                                                    <tr>
                                                        <th [style.min-width.px]="550">HÀNG HOÁ</th>
                                                        <th [style.min-width.px]="75">ĐVT</th>
                                                        <th [style.min-width.px]="75">ĐVT1</th>
                                                        <th [style.min-width.px]="75">M³</th>
                                                        <th [style.min-width.px]="80">TẤT TOÁN</th>
                                                        <th [style.min-width.px]="80">SL</th>
                                                        <th [style.min-width.px]="120">ĐƠN GIÁ</th>
                                                        <th [style.min-width.px]="75">CK</th>
                                                        <th [style.min-width.px]="75">VAT</th>
                                                        <th [style.min-width.px]="120">THÀNH TIỀN</th>
                                                        <th [style.min-width.px]="100">ĐÃ NHẬN</th>
                                                        <th [style.min-width.px]="80">CÒN LẠI</th>
                                                        <th [style.min-width.px]="250">GHI CHÚ</th>
                                                        <th *ngIf="!isTatToan" [style.max-width.px]="20"><i class="gg-btn gg-add btn-primary" (click)="onHangHoaAdd()"></i></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of hanghoas; index as i">
                                                        <td>
                                                            <dx-select-box
                                                                id="nguyenlieu_row_{{ i }}"
                                                                [readOnly]="isTatToan"
                                                                [(value)]="item.hanghoa_id"
                                                                [dataSource]="dataSource_HangHoa"
                                                                [displayExpr]="'tenhanghoa'"
                                                                [valueExpr]="'id'"
                                                                [searchMode]="'contains'"
                                                                [searchExpr]="['mahanghoa', 'tenhanghoa']"
                                                                [searchTimeout]="500"
                                                                [searchEnabled]="true"
                                                                [minSearchLength]="0"
                                                                (onSelectionChanged)="onHangHoaChanged(i, $event)"
                                                                itemTemplate="item"
                                                            >
                                                                <div *dxTemplate="let data of 'item'">
                                                                    <div style="display: inline-block">{{ data.tenhanghoa }}, ({{ data.soluong_tonhientai }}, {{ data.soluong_tonduocxuat }})</div>
                                                                </div>
                                                            </dx-select-box>
                                                        </td>
                                                        <td>{{ item.tendonvitinh }}</td>

                                                        <td>{{ item.tendonvitinhphu ? (item.soluong / item.tilequydoiphu | number: '1.0-3') : '' }} {{ item.tendonvitinhphu }}</td>
                                                        <td>{{ item.soluong * item.trongluong | number: '1.0-3' }} kg</td>

                                                        <td>
                                                            <dx-number-box
                                                                format="#,##0.###"
                                                                [readOnly]="!isTatToan"
                                                                [max]="item.soluong - item.soluongdanhan"
                                                                [(value)]="item.soluongtattoan"
                                                                (onValueChanged)="onHangHoaChangeRow('soluongtattoan', i, $event)"
                                                            ></dx-number-box>
                                                        </td>
                                                        <td>
                                                            <dx-number-box
                                                                format="#,##0.###"
                                                                [readOnly]="isTatToan"
                                                                [(value)]="item.soluong"
                                                                (onValueChanged)="onHangHoaChangeRow('soluong', i, $event)"
                                                            ></dx-number-box>
                                                        </td>
                                                        <td>
                                                            <dx-number-box
                                                                format="#,##0.###"
                                                                [readOnly]="isTatToan"
                                                                [(value)]="item.dongia"
                                                                (onValueChanged)="onHangHoaChangeRow('dongia', i, $event)"
                                                            ></dx-number-box>
                                                        </td>
                                                        <td>
                                                            <dx-number-box
                                                                [readOnly]="isTatToan"
                                                                format="#0%"
                                                                [step]="0.01"
                                                                [(value)]="item.chietkhau"
                                                                (onValueChanged)="onHangHoaChangeRow('chietkhau', i, $event)"
                                                            ></dx-number-box>
                                                        </td>
                                                        <td>
                                                            <dx-number-box
                                                                [readOnly]="isTatToan"
                                                                format="#0%"
                                                                [step]="0.01"
                                                                [(value)]="item.thuevat"
                                                                (onValueChanged)="onHangHoaChangeRow('thuevat', i, $event)"
                                                            ></dx-number-box>
                                                        </td>

                                                        <td>{{ item.thanhtien | number: '1.0-3' }}</td>
                                                        <td>{{ item.soluongdanhan | number: '1.0-3' }}</td>
                                                        <td>{{ item.soluong - item.soluongdanhan - item.soluongtattoan | number: '1.0-3' }}</td>

                                                        <td><dx-text-box value="ghi chú" [(value)]="item.chuthich"></dx-text-box></td>
                                                        <td *ngIf="!isTatToan"><i class="gg-btn gg-remove" (click)="onHangHoaDelete(item)"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </dxi-item>

                                    <dxi-item
                                        [colSpan]="4"
                                        [label]="{ text: 'TRẠNG THÁI' }"
                                        dataField="kichhoat"
                                        editorType="dxCheckBox"
                                        [editorOptions]="{ text: 'Kích hoạt', readOnly: true }"
                                    ></dxi-item>
                                    <dxi-item [colSpan]="2" [editorOptions]="{ disabled: saveProcessing }" itemType="button" horizontalAlignment="right" [buttonOptions]="buttonSubmitOptions">
                                    </dxi-item>
                                </dx-form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
