<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/phieu-ban-hang']">Phiếu bán hàng</a></li>
                    <li class="breadcrumb-item active">Cập nhật</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title" [style.margin-bottom.px]="20" [style.width]="'100%'">
                            <div class="row">
                                <div class="col-md-8">
                                    <h5>{{ 'Phiếu bán hàng' | uppercase }} - CẬP NHẬT</h5>
                                </div>
                            </div>
                        </div>

                        <div id="form-container">
                            <form (submit)="onSubmitForm($event)">
                                <dx-form id="form" [colCount]="6" [formData]="phieubanhang" [showValidationSummary]="true" labelLocation="top" (onFieldDataChanged)="onFormFieldChanged($event)">
                                    <dxi-item
                                        [label]="{ text: 'NGÀY BÁN HÀNG' }"
                                        dataField="ngaybanhang"
                                        editorType="dxDateBox"
                                        [editorOptions]="{ type: 'date', readOnly: isTatToan || isDuyetGia }"
                                    >
                                        <dxi-validation-rule type="required" message="Chọn ngày ngày bán hàng"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item
                                        [colSpan]="3"
                                        [label]="{ text: 'KHÁCH HÀNG' }"
                                        dataField="khachhang_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{
                                            dataSource: dataSource_KhachHang,
                                            valueExpr: 'id',
                                            searchEnabled: true,
                                            searchExpr: ['tenkhachhang', 'makhachhang'],
                                            displayExpr: 'tenkhachhang',
                                            readOnly: isTatToan || isDuyetGia || phieubanhang.phieudathang_id
                                        }"
                                    >
                                        <dxi-validation-rule type="required" message="Vui lòng chọn Khách hàng"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item [label]="{ text: 'ĐIỆN THOẠI' }" dataField="khachhang_dienthoai" [editorOptions]="{ readOnly: true }"> </dxi-item>

                                    <dxi-item [label]="{ text: 'NỢ CŨ' }" editorType="dxNumberBox" dataField="nocu" [editorOptions]="{ readOnly: true, format: '#,##0.###' }"> </dxi-item>

                                    <dxi-item
                                        [label]="{ text: 'NGÀY NHẬN HÀNG' }"
                                        dataField="ngaynhanhang_dukien"
                                        editorType="dxDateBox"
                                        [editorOptions]="{ type: 'date', readOnly: isTatToan || isDuyetGia }"
                                    >
                                    </dxi-item>
                                    <dxi-item [label]="{ text: 'TÊN NGƯỜI NHẬN' }" dataField="khachhang_hoten" [colSpan]="2"> </dxi-item>

                                    <dxi-item [label]="{ text: 'ĐỊA CHỈ GIAO' }" dataField="khachhang_diachi" [colSpan]="2"> </dxi-item>
                                    <dxi-item
                                        [colSpan]="1"
                                        [label]="{ text: 'KHO HÀNG' }"
                                        dataField="khoxuat_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{
                                            dataSource: dataSource_KhoHang,
                                            valueExpr: 'id',
                                            searchEnabled: true,
                                            searchExpr: ['tenkhohang', 'makhohang'],
                                            displayExpr: 'tenkhohang',
                                            readOnly: isTatToan || isDuyetGia || phieubanhang.phieudathang_id != null
                                        }"
                                    >
                                        <dxi-validation-rule type="required" message="Vui lòng chọn kho hàng"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item [label]="{ text: 'MÃ PHIẾU' }" dataField="maphieubanhang" [editorOptions]="{ readOnly: true, placeholder: 'MÃ TẠO TỰ ĐỘNG' }"></dxi-item>
                                    <dxi-item
                                        [colSpan]="6"
                                        [label]="{ text: 'N/V KINH DOANH' }"
                                        dataField="nhanviensale_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{ dataSource: dataSource_NguoiDung, valueExpr: 'id', searchEnabled: true, displayExpr: 'hoten', readOnly: isTatToan || isDuyetGia }"
                                    >
                                        <dxi-validation-rule type="required" message="Vui lòng chọn nhân viên kinh doanh"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item [label]="{ text: 'TỔNG TIỀN HÀNG' }" editorType="dxNumberBox" dataField="tongtienhang" [editorOptions]="{ readOnly: true, format: '#,##0' }"> </dxi-item>
                                    <dxi-item [label]="{ text: 'CK' }" dataField="chietkhau" [editorOptions]="{ format: '#0.##%', step: '0', valueChangeEvent: 'input', readOnly: isTatToan || isDuyetGia }"> </dxi-item>
                                    <dxi-item [label]="{ text: 'VAT' }" dataField="thuevat" [editorOptions]="{ format: '#0.##%', step: '0', valueChangeEvent: 'input', readOnly: isTatToan || isDuyetGia }"> </dxi-item>
                                    <dxi-item [label]="{ text: 'TỔNG THÀNH TIỀN' }" editorType="dxNumberBox" dataField="tongthanhtien" [editorOptions]="{ readOnly: true, format: '#,##0' }">
                                    </dxi-item>

                                    
                                    <dxi-item [editorOptions]="{ inputAttr: { autocomplete: 'on', name: 'ghichu' } }" [label]="{ text: 'GHI CHÚ' }" dataField="ghichu" [colSpan]="5"></dxi-item>

                                    <dxi-item [label]="{ text: 'BẢNG GIÁ' }">
                                        <button type="button" class="btn btn-sm btn-danger btn-block float-left" (click)="clickLayGia()"><i class="fa fa-download"></i> NHẤN ĐỂ LẤY GIÁ</button>
                                    </dxi-item>


                                    <dxi-item [colSpan]="6" *ngIf="isValidForm">
                                        <div class="table-responsive">
                                            <table class="table table-vertical table-hover mt-4">
                                                <thead>
                                                    <tr>
                                                        <th [style.min-width.px]="25">STT</th>
                                                        <th [style.min-width.px]="550">HÀNG HOÁ</th>
                                                        <th [style.min-width.px]="75">ĐVT</th>
                                                        <th [style.min-width.px]="75">KIỆN</th>
                                                        <th [style.min-width.px]="75">KL</th>
                                                        <th [style.min-width.px]="80">TẤT TOÁN</th>
                                                        <th [style.min-width.px]="80">SL</th>
                                                        <th [style.min-width.px]="120">ĐƠN GIÁ</th>
                                                        <th [style.min-width.px]="75">CK</th>
                                                        <th [style.min-width.px]="75">VAT</th>
                                                        <th [style.min-width.px]="80">LẤY VAT</th>
                                                        <th [style.min-width.px]="120">THÀNH TIỀN</th>
                                                        <th [style.min-width.px]="100">ĐÃ XUẤT</th>
                                                        <th [style.min-width.px]="80">CÒN LẠI</th>
                                                        <th [style.min-width.px]="250">GHI CHÚ</th>
                                                        <th [style.min-width.px]="250">TÊN IN RA</th>
                                                        <th *ngIf="!isTatToan && !isDuyetGia" [style.max-width.px]="20"><i class="gg-btn gg-add btn-primary" (click)="onHangHoaAdd()"></i></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of hanghoas; index as i">
                                                        <td>{{ i + 1 }}</td>
                                                        <td>
                                                            <dx-select-box
                                                                [readOnly]="isTatToan || isDuyetGia || (item.phieudathang_thanhpham_id || item.phieudathang_chitiet_id ? true : false)"
                                                                id="nguyenlieu_row_{{ i }}"
                                                                [(value)]="item.hanghoa_id"
                                                                [dataSource]="dataSource_HangHoa"
                                                                [displayExpr]="'tenhanghoa'"
                                                                [valueExpr]="'id'"
                                                                [searchMode]="'contains'"
                                                                [searchExpr]="['mahanghoa', 'tenhanghoa']"
                                                                [searchTimeout]="500"
                                                                [searchEnabled]="true"
                                                                [minSearchLength]="0"
                                                                (onSelectionChanged)="onHangHoaChanged(i, $event)"
                                                                itemTemplate="item"
                                                            >
                                                                <div *dxTemplate="let data of 'item'">
                                                                    <div style="display: inline-block">{{ data.tenhanghoa }}, ({{ data.soluong_tonhientai }}, {{ data.soluong_tonduocxuat }})</div>
                                                                </div>
                                                            </dx-select-box>
                                                        </td>
                                                        <td>{{ item.tendonvitinh }}</td>

                                                        <td>{{ item.tendonvitinhphu ? (item.soluong / item.tilequydoiphu | number: '1.0-3') : '' }}</td>
                                                        <td>{{ item.soluong * item.trongluong | number: '1.0-3' }}</td>

                                                        <td>
                                                            <dx-number-box
                                                                [step]="0"
                                                                format="#,##0.###"
                                                                [readOnly]="!isTatToan || isDuyetGia"
                                                                [max]="item.soluong - item.soluongdaxuat"
                                                                [(value)]="item.soluongtattoan"
                                                                valueChangeEvent="input"
                                                                (onValueChanged)="onHangHoaChangeRow('soluongtattoan', i, $event)"
                                                            ></dx-number-box>
                                                        </td>
                                                        <td>
                                                            <dx-number-box
                                                                [step]="0"
                                                                format="#,##0.###"
                                                                [readOnly]="isTatToan || isDuyetGia"
                                                                [(value)]="item.soluong"
                                                                valueChangeEvent="input"
                                                                (onValueChanged)="onHangHoaChangeRow('soluong', i, $event)"
                                                            ></dx-number-box>
                                                        </td>
                                                        <td>
                                                            <dx-number-box
                                                                [step]="0"
                                                                format="#,##0.###"
                                                                [readOnly]="isTatToan"
                                                                [(value)]="item.dongia"
                                                                valueChangeEvent="input"
                                                                (onValueChanged)="onHangHoaChangeRow('dongia', i, $event)"
                                                            ></dx-number-box>
                                                        </td>
                                                        <td>
                                                            <dx-number-box
                                                                [step]="0"
                                                                [readOnly]="isTatToan || isDuyetGia"
                                                                format="#0.##%"
                                                                [step]="0"
                                                                [(value)]="item.chietkhau"
                                                                valueChangeEvent="input"
                                                                (onValueChanged)="onHangHoaChangeRow('chietkhau', i, $event)"
                                                            ></dx-number-box>
                                                        </td>
                                                        <td>
                                                            <dx-number-box
                                                                [step]="0"
                                                                [readOnly]="isTatToan || isDuyetGia"
                                                                format="#0.##%"
                                                                [step]="0"
                                                                [(value)]="item.thuevat"
                                                                valueChangeEvent="input"
                                                                (onValueChanged)="onHangHoaChangeRow('thuevat', i, $event)"
                                                            ></dx-number-box>
                                                        </td>
                                                        <td>
                                                            <dx-check-box [readOnly]="phieubanhang.thuevat != 0 || item.thuevat != 0" [(value)]="item.xuathoadon"></dx-check-box>
                                                        </td>
                                                        <td>{{ item.thanhtien | number: '1.0-3' }}</td>
                                                        <td>{{ item.soluongdaxuat | number: '1.0-3' }}</td>
                                                        <td>{{ item.soluong - item.soluongdaxuat - item.soluongtattoan | number: '1.0-3' }}</td>

                                                        <td><dx-text-box [inputAttr]="{ autocomplete: 'on', name: 'chuthich'}" [(value)]="item.chuthich"></dx-text-box></td>
                                                        <td>
                                                            <dx-text-box [(value)]="item.tenhanghoa_inphieu"></dx-text-box>
                                                        </td>
                                                        <td *ngIf="!isTatToan && !isDuyetGia"><i class="gg-btn gg-remove" (click)="onHangHoaDelete(item)"></i></td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th [style.min-width.px]="25"></th>
                                                        <th [style.min-width.px]="550">TỔNG CỘNG:</th>
                                                        <th [style.min-width.px]="75"></th>
                                                        <th [style.min-width.px]="75">{{this.sumTotal.transform(this.hanghoas, 'tongkien') | number: '1.0-3'}}</th>
                                                        <th [style.min-width.px]="75">{{this.sumTotal.transform(this.hanghoas, 'tongtrongluong') | number: '1.0-3'}}</th>
                                                        <th [style.min-width.px]="80">{{this.sumTotal.transform(this.hanghoas, 'soluongtattoan') | number: '1.0-3'}}</th>
                                                        <th [style.min-width.px]="80">{{this.sumTotal.transform(this.hanghoas, 'soluong') | number: '1.0-3'}}</th>
                                                        <th [style.min-width.px]="120"></th>
                                                        <th [style.min-width.px]="75"></th>
                                                        <th [style.min-width.px]="75"></th>
                                                        <th [style.min-width.px]="80"></th>
                                                        <th [style.min-width.px]="120">{{this.sumTotal.transform(this.hanghoas, 'thanhtien') | number: '1.0-3'}}</th>
                                                        <th [style.min-width.px]="100">{{this.sumTotal.transform(this.hanghoas, 'soluongdaxuat') | number: '1.0-3'}}</th>
                                                        <th [style.min-width.px]="80">{{this.sumTotal.transform(this.hanghoas, 'soluongconlai') | number: '1.0-3'}}</th>
                                                        <th [style.min-width.px]="250"></th>
                                                        <th [style.min-width.px]="250"></th>
                                                        <th *ngIf="!isTatToan && !isDuyetGia" [style.max-width.px]="20"><i class="gg-btn gg-add btn-primary" (click)="onHangHoaAdd()"></i></th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </dxi-item>

                                    <dxi-item [colSpan]="6">
                                        <div *dxTemplate>
                                            <dx-button icon="back" [routerLink]="['/phieu-ban-hang']" text="Quay lại" [ngClass]="['float-right', 'btn-back']" type="normal"> </dx-button>
                                            <dx-button
                                                *ngIf="!this.isDuyetGia"
                                                icon="save"
                                                text="Lưu lại"
                                                [ngClass]="'float-right'"
                                                type="success"
                                                [useSubmitBehavior]="true"
                                                [disabled]="saveProcessing || (this.phieubanhang.duyetgia && !isTatToan)"
                                            >
                                            </dx-button>
                                            <dx-button
                                                *ngIf="this.isDuyetGia"
                                                stylingMode="contained"
                                                [ngClass]="'float-right'"
                                                [text]="this.phieubanhang.duyetgia ? 'Huỷ duyệt' : 'Duyệt'"
                                                type="success"
                                                [width]="120"
                                                (onClick)="onDuyetGia()"
                                            >
                                            </dx-button>
                                        </div>
                                    </dxi-item>
                                </dx-form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
