<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a [routerLink]="['/kho-hang']">Kho hàng</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title" [style.margin-bottom.px]="20">
                            <h5>KHO HÀNG - THÊM MỚI</h5>
                        </div>
                        <div id="form-container">
                            <form (submit)="onSubmitForm($event)">
                                <dx-form id="form" [colCount]="2" [formData]="khohang" [showValidationSummary]="true">
                                    <dxi-item [label]="{ text: 'MÃ KHO HÀNG' }" dataField="makhohang">
                                        <dxi-validation-rule type="required" message="Nhập mã kho hàng"> </dxi-validation-rule>
                                        <dxi-validation-rule type="stringLength" [min]="2" message="Mã kho hàng quá ngắn"></dxi-validation-rule>
                                        <dxi-validation-rule type="async" message="Mã đã tồn tại" [validationCallback]="theCallbackValid"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item [label]="{ text: 'TÊN KHO HÀNG' }" dataField="tenkhohang">
                                        <dxi-validation-rule type="required" message="Nhập tên kho hàng"> </dxi-validation-rule>
                                        <dxi-validation-rule type="stringLength" [min]="2" message="Tên kho hàng quá ngắn"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item [label]="{ text: 'SĐT' }" dataField="dienthoai"></dxi-item>
                                    <dxi-item
                                        [label]="{ text: 'KHU VỰC' }"
                                        dataField="khuvuc_id"
                                        editorType="dxSelectBox"
                                        [editorOptions]="{ dataSource: dataSource_KhuVuc, valueExpr: 'id', searchEnabled: true,searchExpr: ['tenkhuvuc', 'makhuvuc'], displayExpr: 'tenkhuvuc' }"
                                    >
                                        <dxi-validation-rule type="required" message="Vui lòng chọn khu vực"> </dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item [label]="{ text: 'ĐỊA CHỈ' }" dataField="diachi" [colSpan]="2"></dxi-item>
                                    <dxi-item [label]="{ text: 'GHI CHÚ' }" dataField="ghichu" editorType="dxTextArea" [colSpan]="2"></dxi-item>
                                    <dxi-item [label]="{ text: 'KHO NGOÀI' }" dataField="khongoai" editorType="dxCheckBox" [editorOptions]="{ text: 'Kích hoạt' }" [colSpan]="2"></dxi-item>
                                    
                                    <dxi-item [label]="{ text: 'TRẠNG THÁI' }" dataField="kichhoat" editorType="dxCheckBox" [editorOptions]="{ text: 'Kích hoạt' }"></dxi-item>

                                    <dxi-item [editorOptions]="{ disabled: saveProcessing }" itemType="button" horizontalAlignment="right" [buttonOptions]="buttonSubmitOptions"> </dxi-item>
                                </dx-form>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
