/* ------------------------------------------------------------------------- */
/* You can add global styles to this file, and also import other style files */
*
{
    outline: none;
}

/* thay đổi kích thước modal */
.modal-xxl {
    max-width: 90%;
}

.loading-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.loading-center-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading-center-child span {
    color: rgb(150, 150, 150);
}

/* ------------------------------------------------------------------------- */
/* css cho dx */
.dx-texteditor-input {
    min-height: calc(1.8125rem + 2px);
}

.dx-toast-content {
    font-size: 12px;
    padding: 5px;
    border-radius: 100px;
}

.dx-toast-message {
    padding-right: 15px;
}

.dx-form-validation-summary.dx-validationsummary.dx-widget.dx-collection {
    margin-top: 12px;
}

/* tô màu cho select box chi nhánh */
dx-select-box#ChiNhanhSelectBox {
    border: none;
}

dx-select-box#ChiNhanhSelectBox div input {
    color: red;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

/* thay đổi font chữ mặc định của devextreme theo admin template */
.dx-widget {
    /* font-family: 'Times New Roman', Times, serif !important; */
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* thay đổi font weight label dx */
.dx-field-item-label-text {
    font-weight: 600;
}

/* ------------------------------------------------------------------------- */
/* css admin template */
.content-header {
    padding: 5px 0.5rem;
}

.card-footer {
    background: none;
}

.form-control-sm {
    height: calc(1.8125rem + 4px);
}

.layout-footer-fixed .wrapper .content-wrapper {
    padding-bottom: 0;
}

.table.table-vertical th,
.table.table-vertical td {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 400;
}

.btn-back{
    margin-left: 5px;
}

/* ------------------------------------------------------------------------- */
/* ng material custom */
.tab-label-letf .mat-tab-label {
    /* dịch sang trái */
    padding: 0 24px 0 0;
}

/* ------------------------------------------------------------------------- */
/* icon custom */
.gg-btn {
    cursor: pointer;
}

.gg-add {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs, 1));
    border-radius: 22px;
}

.gg-add::after,
.gg-add::before {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 5px;
    top: 8px;
    left: 4px;
}

.gg-add::after {
    width: 2px;
    height: 10px;
    top: 4px;
    left: 8px;
}

.gg-remove {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    /* border: 2px solid red; */
    border-radius: 22px;
}

.gg-remove::before {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: red;
    border-radius: 5px;
    top: 8px;
    left: 4px;
}

/* ------------------------------------------------------------------------- */
/* Beautiful Custom Scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-top: 1px solid #ddd;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee175;
    border-radius: 20px;
    border: 5px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/* ------------------------------------------------------------------------- */
/* Ẩn thông tin Stimulsoft */
/* div#StiViewerToolTip table tbody tr:last-of-type {
    display: none;
}
.stiJsViewerToolBarTable img[src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAT0lEQVR42mL8//8/AyWAiYFCQLEBLNgEKyoqMPzV0dHBSJQLsGnGJ47TCyAbcdmK1wvEaCI6EJGdTXQYkKKZKtHISGlKZBn6Xhj4zAQQYABalyK0fONo5gAAAABJRU5ErkJggg=="] {
    display: none;
} 
*/
/* tuỳ chỉnh đổ bóng editable Stimulsoft */
.stiEditableFieldSelected {
    box-shadow: none;
}

.hidden{
    display: none;
}
