<div class="modal-header">
    <h6 class="modal-title pull-left">
        <b>{{ title }}</b>
    </h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <form autocomplete="off">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Mật khẩu hiện tại" [(ngModel)]="dataChange.crr_pass" [ngModelOptions]="{standalone: true}"/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Mật khẩu mới" [(ngModel)]="dataChange.new_pass" [ngModelOptions]="{standalone: true}"/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" [(ngModel)]="dataChange.req_pass" [ngModelOptions]="{standalone: true}"/>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="onConfirm()">Đồng ý</button>
    <button type="button" class="btn btn-default" (click)="onCancel()">{{ closeBtnName }}</button>
</div>
