<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">CẬP NHẬT - PHIẾU CẤP PHÁT VẬT TƯ</h5>
                        <p class="card-text"></p>

                        <button class="btn btn-sm btn-success">Lưu lại</button>
                        <button [style.margin-left.px]="5" class="btn btn-sm btn-default" [routerLink]="['/phieu-cap-phat-vat-tu']">Quay lại</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
