<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Bảng giá </li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'Bảng giá ' | uppercase }} - DANH SÁCH</h5>
                        <p class="card-text"></p>

                        <div class="row">
                            <div class="col-md-12">
                                <dx-date-box [style.width.px]="200" type="datetime" [(value)]="firstDayTime"></dx-date-box>
                                <dx-date-box [style.width.px]="200" [style.margin-left.px]="5" type="datetime" [(value)]="currDayTime"></dx-date-box>

                                <button [style.margin-left.px]="5" class="btn btn-sm btn-success" (click)="onLoadData()">Tải lại</button>
                                <button [style.margin-left.px]="5" class="btn btn-sm btn-primary" [routerLink]="['/bang-gia/them-moi']" *ngIf="enableAddNew">Thêm mới</button>
                            </div>
                        </div>

                        <dx-data-grid
                            id="gridContainer"
                            [showBorders]="true"
                            [columnAutoWidth]="true"
                            [showRowLines]="true"
                            [hoverStateEnabled]="true"
                            [stateStoring]="stateStoringGrid"
                            (onRowDblClick)="onRowDblClick($event)"
                        >
                            <dxi-column width="80" dataField="id" caption="Thao tác" [allowFiltering]="false" [allowSorting]="false" cellTemplate="cellTemplate" [fixed]="true" fixedPosition="left">
                                <div *dxTemplate="let data of 'cellTemplate'">
                                    <a [routerLink]="['/bang-gia/' + data.value + '/cap-nhat']" *ngIf="enableUpdate">Sửa |</a>
                                    <a href="javascript:void(0)" (click)="onRowDelete(data.value)" *ngIf="enableDelete">Xóa</a>
                                </div>
                            </dxi-column>

                            <dxi-column dataField="ngaybanggia" dataType="datetime" caption="Ngày lập"></dxi-column>
                            <dxi-column dataField="ngaycohieuluc" dataType="datetime" caption="Ngày có hiệu lực"></dxi-column>
                            <dxi-column dataField="mabanggia" caption="Mã phiếu"></dxi-column>
                            <dxi-column dataField="tenkhachhang" caption="Tên khách hàng"></dxi-column>
                            <dxi-column dataField="diadiemgiao" caption="Địa điểm giao"></dxi-column>
                            <dxi-column dataField="dkthanhtoan" caption="ĐK thanh toán"></dxi-column>
                           
                            <dxi-column dataField="kichhoat" caption="Trạng thái" cellTemplate="cellTemplateTrangThai">
                                <div *dxTemplate="let data of 'cellTemplateTrangThai'">
                                    <span class="text-green" *ngIf="data.value == true">Kích hoạt</span>
                                    <span class="text-red" *ngIf="data.value != true">Ngưng sử dụng</span>
                                </div>
                            </dxi-column>
                            <dxi-column dataField="ghichu" caption="Ghi chú"></dxi-column>

                            <dxi-column dataField="nguoitao_hoten" caption="Người tạo"></dxi-column>
                            <dxi-column dataField="thoigiantao" dataType="datetime" caption="Ngày tạo"></dxi-column>
                            <dxi-column dataField="nguoisua_hoten" caption="Người sửa"></dxi-column>
                            <dxi-column dataField="thoigiansua" dataType="datetime" caption="Ngày sửa"></dxi-column>

                            <dxo-search-panel [visible]="true"></dxo-search-panel>
                            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                            <dxo-scrolling columnRenderingMode="virtual" [useNative]="true" class="dx-scrollable-customizable-scrollbars"></dxo-scrolling> 
                            <dxo-paging [pageSize]="10"></dxo-paging>
                            <dxo-pager [showInfo]="true" infoText="Page #{0}. Total: {1} ({2} items)" [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20]" [showNavigationButtons]="true">
                            </dxo-pager>
                        </dx-data-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
