<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/']">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Thống kê công nợ quá hạn</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'Thống kê công nợ quá hạn' | uppercase }}</h5>
                        <p class="card-text"></p>

                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-sm btn-success" (click)="onLoadData()">Tải lại</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <dx-data-grid
                                    id="gridContainer"
                                    [showBorders]="true"
                                    [showRowLines]="true"
                                    [hoverStateEnabled]="true"
                                    [columnAutoWidth]="true"
                                    [columnResizingMode]="'widget'"
                                    [allowColumnResizing]="true"
                                    [allowColumnReordering]="true"
                                    [stateStoring]="stateStoringGrid"
                                >
                                    <dxo-selection mode="single"></dxo-selection>
                                    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                                    <dxo-export [enabled]="enableExport" [fileName]="exportFileName"></dxo-export>

                                    <!-- dx-data-grid option -->
                                    <dxo-search-panel [visible]="true" [width]="300"></dxo-search-panel>
                                    <dxo-column-chooser [enabled]="true" [allowSearch]="true"></dxo-column-chooser>
                                    <dxo-scrolling columnRenderingMode="virtual" [useNative]="true" class="dx-scrollable-customizable-scrollbars"></dxo-scrolling>
                                    <dxo-paging [pageSize]="10"></dxo-paging>
                                    <dxo-pager
                                        [showInfo]="true"
                                       
                                        [showPageSizeSelector]="true"
                                        [allowedPageSizes]="[10, 15, 20]"
                                        [showNavigationButtons]="true"
                                    >
                                    </dxo-pager>

                                    <dxi-column dataField="tenkhachhang" caption="Khách hàng" [groupIndex]="0"></dxi-column>
                                    <dxi-column dataField="ngaylap" caption="Ngày phát sinh" dataType="date"></dxi-column>
                                    <dxi-column dataField="chungtu" caption="Số hoá đơn"></dxi-column>
                                    <dxi-column dataField="tongthanhtien" caption="Số tiền/phiếu" alignment="right" format="#,##0.###"></dxi-column>
                                    <dxi-column dataField="ngaydenhan" caption="Ngày đến hạn" dataType="date"></dxi-column>

                                    <dxi-column dataField="quahan0115" caption="Quá hạn 01-15 ngày" alignment="right" format="#,##0.###"></dxi-column>
                                    <dxi-column dataField="quahan1630" caption="Quá hạn 16-30 ngày" alignment="right" format="#,##0.###"></dxi-column>
                                    <dxi-column dataField="quahan3145" caption="Quá hạn 31-45 ngày" alignment="right" format="#,##0.###"></dxi-column>
                                    <dxi-column dataField="quahan4660" caption="Quá hạn 46-60 ngày" alignment="right" format="#,##0.###"></dxi-column>
                                    <dxi-column dataField="quahan61" caption="Quá hạn > 60 ngày" alignment="right" format="#,##0.###"></dxi-column>

                                    <dxi-column dataField="tongtien" caption="Tổng tiền" alignment="right" format="#,##0.###"></dxi-column>

                                    <dxo-summary [calculateCustomSummary]="calculateTongTien">
                                        <dxi-group-item column="ngaylap" summaryType="count" displayFormat="TỔNG CỘNG: {0}" [showInGroupFooter]="true"> </dxi-group-item>

                                        <dxi-group-item 
                                        name="RowsSummaryquahan0115" 
                                        column="quahan0115" 
                                        summaryType="sum" 
                                        valueFormat="#,##0.###" 
                                        displayFormat="{0}" 
                                        [showInGroupFooter]="false"
                                        [alignByColumn]="true"
                                        > 
                                    </dxi-group-item>
                                        
                                    <dxi-group-item 
                                    name="RowsSummaryquahan1630" 
                                    column="quahan1630" 
                                    summaryType="sum" 
                                    valueFormat="#,##0.###" 
                                    displayFormat="{0}" 
                                    [showInGroupFooter]="false"
                                    [alignByColumn]="true"
                                    > 
                                </dxi-group-item>
                                        <dxi-group-item 
                                        name="RowsSummaryquahan3145" 
                                        column="quahan3145" 
                                        summaryType="sum" 
                                        valueFormat="#,##0.###" 
                                        displayFormat="{0}" 
                                        [showInGroupFooter]="false"
                                         [alignByColumn]="true"
                                        > 
                                    </dxi-group-item>
                                        <dxi-group-item
                                        name="RowsSummaryquahan4660" 
                                        column="quahan4660" 
                                        summaryType="sum" 
                                        valueFormat="#,##0.###" 
                                        displayFormat="{0}" 
                                        [showInGroupFooter]="false"
                                        [alignByColumn]="true"
                                        > 
                                    </dxi-group-item>
                                        <dxi-group-item
                                        name="RowsSummaryquahan61"  
                                        column="quahan61" 
                                        summaryType="sum" 
                                        valueFormat="#,##0.###" 
                                        displayFormat="{0}" 
                                        [showInGroupFooter]="false"
                                        [alignByColumn]="true"
                                        > 
                                    </dxi-group-item>

                                        <dxi-group-item 
                                        name="RowsSummaryTongTien" 
                                        showInColumn="tongtien" 
                                        summaryType="custom" 
                                        valueFormat="#,##0.###" 
                                        displayFormat="{0}" 
                                        [showInGroupFooter]="false"
                                        [alignByColumn]="true"
                                        >
                                        </dxi-group-item>
                                    </dxo-summary>

                                     <!-- Thêm trang tổng cộng cuối form -->
                                    <dxo-summary>
                                        <dxi-total-item column="chungtu" showInColumn="ngaylap" summaryType="count" displayFormat="TỔNG CỘNG: {0}"> </dxi-total-item>
                                        <dxi-total-item column="tongthanhtien" summaryType="sum" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                        <dxi-total-item column="quahan0115" summaryType="sum" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                        <dxi-total-item column="quahan1630" summaryType="sum" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                        <dxi-total-item column="quahan3145" summaryType="sum" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                        <dxi-total-item column="quahan4660" summaryType="sum" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                        <dxi-total-item column="quahan61" summaryType="sum" valueFormat="#,##0" displayFormat="{0}"> </dxi-total-item>
                                        <dxi-total-item name="RowsSummaryTongTien" showInColumn="tongtien" summaryType="custom" valueFormat="#,##0.###" displayFormat="{0}"> </dxi-total-item>
                                    </dxo-summary>

                                    <dxi-sort-by-group-summary-info summaryItem="count"></dxi-sort-by-group-summary-info>
                                    <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>
                                    <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
